<include file="Public/head"/>
<block name="main">

<div class="content" id="index">
<div class="main">
    <div class="recommend_pic _slide">
        <div class="recommend_pic_list" >
        <ul class="_slidepic">
        <li><a href=" " target="_blank"><img src="__PUBLIC__/qwhome/picture/144933zdxfo0dvvcvy8c8s.jpg" height="350" width="770" alt="天声丽音，最强神文案征集大赛"></a></li>
        <li><a href=" " target="_blank"><img src="__PUBLIC__/qwhome/picture/141054zs8le4kwelon44o0.png" height="350" width="770" alt="【辩论】双十一剁手还是脱单更重要"></a></li>
        <li><a href=" " target="_blank"><img src="__PUBLIC__/qwhome/picture/144146j11du115z1dh5sqk.png" height="350" width="770" alt="联想手机双11，晒单壕礼送不停"></a></li>
        </ul>
        </div>
        <div class="recommend_pic_title">
        <ul class="_slidetit">
        <li><a href="" target="_blank">天声丽音，最强神文案征集大赛</a></li>
        <li><a href="" target="_blank">【辩论】双十一剁手还是脱单更重要</a></li>
        <li><a href="" target="_blank">联想手机双11，晒单壕礼送不停</a></li>
        </ul>
        </div>
    </div>

<!-- 列表推荐 -->
<div class="box main_box" ><!-- 小图推荐 -->
    <h3 class="modname">推荐阅读</h3>
    <div class="recommend_pic_small">
        <ul>
            <li>
                <a href=""  target="_blank" title="【主题合集】大鱼海棠or阴阳师">
                    <img src="__PUBLIC__/qwhome/picture/165444vooka61av7tc6z7r.jpg" alt="【主题合集】大鱼海棠or阴阳师" height="100" width="228">
                </a>
            </li>
            <li>
                <a href=""  target="_blank" title="用户组招募集结令">
                    <img src="__PUBLIC__/qwhome/picture/101836cwn69i6rnwvwxn69.jpg" alt="用户组招募集结令" height="100" width="228">
                </a>
            </li>
            <li>
                <a href=""  target="_blank" title="考工记">
                    <img src="__PUBLIC__/qwhome/picture/150059nbjh7jzaygasasw4.jpg" alt="考工记" height="100" width="228">
                </a>
            </li>
        </ul>
    </div>


    <div class="graybg graytopborder index_tab"  name="threadsbody" id="threadsbody">
        <h3 class="modname">社区讨论</h3>
        <div class="tab">
            <ul>
                <li class="a"><a href="?filter=hot">热门<span></span></a></li>
                <li><a href="">固件<span></span></a></li>
                <li><a href="">玩机<span></span></a></li>
                <li><a href="">随手拍<span></span></a></li>
            </ul>
        </div>
    </div>

<!-- 帖子列表 -->


<div class="thread minh"  id="threadlist" summary="forum_0"  style="position: relative;">
    <form method="post" autocomplete="off" name="moderate" id="moderate" action="">
        <input type="hidden" name="formhash" value="b93032ab" />
        <input type="hidden" name="listextra" value="" />

    <!-- ____________________________________________________________________________ -->

        <div class="threadlist" id="normalthread_62430" >
            <div class="threadlist_stat threadlist_stat_hot">
                <a href=" " title="696 个回帖">696</a>
            </div>
            <div class="threadlist_title">
                <div class="right"></div>
                <a href="" onclick="atarget(this)" >ZUK Z1 LewaOS 7.0 开发版 支持指纹</a>
                <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" />
                <img src="__PUBLIC__/qwhome/picture/agree.gif" align="absmiddle" alt="agree" title="帖子被加分" />
                <img src="__PUBLIC__/qwhome/picture/hot_3.gif" align="absmiddle" alt="heatlevel" title="热度: 619" />
            </div>
            <div class="threadlist_imglist">
                <div><a href=""><img src="__PUBLIC__/qwhome/picture/203659zotmneetnbb1mrvn.png_h80.jpg"></a></div>
                <div><a href=""><img src="__PUBLIC__/qwhome/picture/203738nawddae2cqs27fa2.png_h80.jpg"></a></div>
                <div><a href=""><img src="__PUBLIC__/qwhome/picture/203812sb4bhode0ydzjeh8.png_h80.jpg"></a></div>
            </div>
            <div class="threadlist_info">
                <div class="lastreply">
                    <a href="">ZUKZ1imax @ <span title="2016-11-15 22:22">38&nbsp;秒前</span></a>
                </div>
                <a href="" c="1">liuxingghost</a> @ 2016-1-31
            </div>
        </div>
    <!-- ____________________________________________________________________________ -->

        <div class="threadlist" id="normalthread_69331" >
            <div class="threadlist_stat threadlist_stat_hot">
                <a href="" title="1459 个回帖">1459</a>
            </div>
            <div class="threadlist_title">
                <div class="right"></div>
                <a href="" style="color: ;" onclick="atarget(this)" >ZUK Z1工具箱（驱动、解/加锁、Recovery、官方Recovery）</a>
                <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" />
                <img src="__PUBLIC__/qwhome/picture/agree.gif" align="absmiddle" alt="agree" title="帖子被加分" />
                <img src="__PUBLIC__/qwhome/picture/hot_3.gif" align="absmiddle" alt="heatlevel" title="热度: 1347" />
            </div>
            <div class="threadlist_imglist">
                <div>
                    <a href=""><img src="__PUBLIC__/qwhome/picture/105439bnpj333ibbe99oq4.png_h80.jpg">
                    </a>
                </div>
            </div>
            <div class="threadlist_info">
                <div class="lastreply">
                    <a href="">ZUK66390 @ <span title="2016-11-15 22:21">1&nbsp;分钟前</span></a>
                </div>
                <a href="" c="1">stellar</a>
                <span class="authphone ap_icon" hwtxts="ZUK Z1 / ZUK Z2121">
                    <a href=""><img src="__PUBLIC__/qwhome/picture/authphone_p.png"/></a>
                </span> @ 2016-3-14
            </div>
        </div>
    <!-- ____________________________________________________________________________ -->

        <div class="threadlist" id="normalthread_46110" >
            <div class="threadlist_stat threadlist_stat_hot">
                <a href="" title="1439 个回帖">1439</a>
            </div>
            <div class="threadlist_title">
                <div class="right"></div>   
                <a href="" style="color: ;" onclick="atarget(this)" >如何轻松刷入官方及第三方临时Recovery</a>
                <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" />
                <img src="__PUBLIC__/qwhome/picture/agree.gif" align="absmiddle" alt="agree" title="帖子被加分" />
                <span class="bluesmallbox" title="精华 1">精华</span>
                <img src="__PUBLIC__/qwhome/picture/hot_3.gif" align="absmiddle" alt="heatlevel" title="热度: 1402" />
            </div>

            <div class="threadlist_imglist">
                <div>
                    <a href=""><img src="__PUBLIC__/qwhome/picture/112048fa959cvhpc2hooi0.png_h80.jpg"></a>
                </div>
                <div>
                    <a href=""><img src="__PUBLIC__/qwhome/picture/112702h2j22j8c726l1wu7.png_h80.jpg"></a>
                </div>
                <div>
                    <a href=""><img src="__PUBLIC__/qwhome/picture/113825gjzs0jhhucc88ywc.png_h80.jpg"></a>
                </div>
            </div>
            <div class="threadlist_info">
                <div class="lastreply">
                    <a href="">帅帅的帅 @ <span title="2016-11-15 22:21">1&nbsp;分钟前</span></a>
                </div>
                <a href="" c="1">stellar</a>
                <span class="authphone ap_icon" hwtxts="ZUK Z1 / ZUK Z2121">
                    <a href="/myzuk/"><img src="__PUBLIC__/qwhome/picture/authphone_p.png"/></a>
                </span> @ 2015-11-17
            </div>
        </div>
    <!-- ____________________________________________________________________________ -->


        <div class="threadlist" id="normalthread_126841" >
            <div class="threadlist_stat threadlist_stat_hot"><a href="" title="1993 个回帖">1993</a></div>
                <div class="threadlist_title">
                    <div class="right"></div>     
                    <a href="" onclick="atarget(this)" >重新发一遍解锁线刷RECOVERY教程好了。自用</a>
                    <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" />
                    <img src="__PUBLIC__/qwhome/picture/agree.gif" align="absmiddle" alt="agree" title="帖子被加分" />
                    <span class="bluesmallbox" title="精华 2">精华</span>
                    <img src="__PUBLIC__/qwhome/picture/hot_3.gif" align="absmiddle" alt="heatlevel" title="热度: 1935" />
                </div>
                <div class="threadlist_info">
                    <div class="lastreply">
                        <a href="">冰之殇城 @ <span title="2016-11-15 22:21">1&nbsp;分钟前</span></a>
                    </div>

                    <a href="" c="1">EDISON666</a>
                    <span class="authphone ap_icon" hwtxts="ZUK Z2131">
                        <a href=""><img src="__PUBLIC__/qwhome/picture/authphone_p.png"/></a>
                    </span> @ 2016-8-4
                </div>
            </div>
    <!-- ____________________________________________________________________________ -->

        <div class="threadlist" id="normalthread_72959" >
            <div class="threadlist_stat threadlist_stat_hot">
                <a href="" title="470 个回帖">470</a>
            </div>
            <div class="threadlist_title">
                <div class="right">
                </div>         
                <a href="" onclick="atarget(this)" >手机分屏双应用需求调查</a>
                <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" />
                <img src="__PUBLIC__/qwhome/picture/agree.gif" align="absmiddle" alt="agree" title="帖子被加分" />
                <img src="__PUBLIC__/qwhome/picture/pollsmall.gif" alt="投票" />
                <img src="__PUBLIC__/qwhome/picture/hot_3.gif" align="absmiddle" alt="heatlevel" title="热度: 396" />
            </div>
            <div class="threadlist_imglist">
                <div>
                    <a href="">
                        <img src="__PUBLIC__/qwhome/picture/122102n7e9eeg9gt6phcmf.png_h80.jpg">
                    </a>
                </div>
            </div>
            <div class="threadlist_info">
                <div class="lastreply">
                    <a href="">ZUK928981 @ <span title="2016-11-15 22:21">1&nbsp;分钟前</span></a>
                </div>

                <a href="" c="1">田江通</a> @ 2016-3-31
            </div>
        </div>
    <!-- ____________________________________________________________________________ -->

            <div class="threadlist" id="normalthread_129901" >
                <div class="threadlist_stat threadlist_stat_hot">
                    <a href="" title="303 个回帖">303</a>
                </div>
                <div class="threadlist_title">
                    <div class="right">
                    </div>
                    <a href="" onclick="atarget(this)" >EDISON666 | Viper4Android 地表最强音效。</a>
                    <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" />
                    <img src="__PUBLIC__/qwhome/picture/agree.gif" align="absmiddle" alt="agree" title="帖子被加分" />
                    <img src="__PUBLIC__/qwhome/picture/hot_3.gif" align="absmiddle" alt="heatlevel" title="热度: 267" />
                </div>
                <div class="threadlist_imglist">
                    <div>
                        <a href="">
                            <img src="__PUBLIC__/qwhome/picture/221911dswf6f9x6t96twiw.jpg_h80.jpg">
                        </a>
                    </div>

                    <div>
                        <a href="">
                            <img src="__PUBLIC__/qwhome/picture/221913kl55leik37vzu3lc.jpg_h80.jpg">
                        </a>
                    </div>

                    <div>
                        <a href="">
                            <img src="__PUBLIC__/qwhome/picture/221923p99af9oaga9kz9eh.png_h80.jpg">
                        </a>
                    </div>
                </div>
                <div class="threadlist_info">
                    <div class="lastreply">
                        <a href="">ZUK255221 @ <span title="2016-11-15 22:20">2&nbsp;分钟前</span>
                        </a>
                    </div>

                    <a href="" c="1">EDISON666</a>
                    <span class="authphone ap_icon" hwtxts="ZUK Z2131">
                        <a href=""><img src="__PUBLIC__/qwhome/picture/authphone_p.png"/></a>
                    </span> @ 2016-8-12
                </div>
            </div>
    <!-- ____________________________________________________________________________ -->

    </form>
</div>

<div class="nextpage"><a href="javasctipt:;">下一页</a></div>
</div>
    <div class="pg">
        <strong>1</strong>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a href="">7</a>
        <a href="">8</a>
        <a href="">9</a>
        <a href="">10</a>
        <a href="" class="last">... 211</a>
        <label>
            <input type="text" name="custompage" class="px" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="if(event.keyCode==13) {window.location='/?filter=hot&amp;page='+this.value;; doane(event);}" />
            <span title="共 211 页"> / 211 页</span>
        </label><a href="" class="nxt">下一页</a>
    </div>
</div>


<div class="sidebar">
    <div class="box forum_user_stat">

    <div class="signin">
        <a href="javascript:;" onclick="userfnbox('checkin');"><font class="font16">签到可获随机金币奖励  ›</font></a>
        <div class="signin_arrow"></div>
    </div>

    <div class="grid_stat myinfo_stat">
        <div class="grid_list">
            <ul>
                <li><a href="" target="_blank"><span class="grid_list_num">17</span>今日任务</a></li>
                <li><a href="" target="_blank"><span class="grid_list_num">0</span>我的勋章</a></li>
                <li><em><span class="grid_list_num"><font class="greencolor">1</font></span>签到天数</em></li>
            </ul>
        </div>
    </div>

    <div class="featured _flslide">
        <div class="featured_list">
            <ul class="_flslidelist">

                <li>
                    <h4 class="bluecolor">社区金币</h4>
                    <p class="bluecolor">
                        <span>
                            <i class="left_line bluebg"></i>截止目前，我拥有 
                            <a href="" class="bluecolor" target="_blank">5</a> 枚金币
                            <i class="right_line bluebg"></i>
                        </span>
                    </p>
                    <p>
                        <a href="" class="whitesmallbutton color2" target="_blank">看看能做啥<em>»</em></a>
                        <small class="pipe"></small>
                        <a href="" class="whitesmallbutton color2" target="_blank">金币全攻略<em>»</em></a>
                    </p>
                </li>

                <li style="display: none;">
                    <h4 class="bluecolor">ZUK产品认证</h4>
                    <p class="bluecolor">
                        <span>
                            <i class="left_line bluebg"></i>截止目前，我认证了 
                            <a href="" class="bluecolor" target="_blank">0</a> 款产品
                            <i class="right_line bluebg"></i>
                        </span>
                    </p>
                    <p>
                        <a href="" class="whitesmallbutton color2" target="_blank">立刻认证<em>»</em></a>
                        <small class="pipe"></small>
                        <a href="" class="whitesmallbutton color2" target="_blank">购买产品<em>»</em></a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="slide_picshow_status _flslidetit">
            <span class="current"></span>
            <span></span>
        </div>
    </div>
</div>


    <div class="box">
        <h3 class="modname">
            <span class="more">第16期 - 2016年10月18日更新</span>全民话题
        </h3>
        <div class="s_topic" style="background:url(__PUBLIC__/qwhome/images/105252bw0woohoy2377r1g.jpg); ">
            <a href="" class="s_topic_content">手机带来的便利
                <span class="bluesmallblankbutton">参与讨论</span>
            </a>
        </div>
    </div>



    <div class="box s_forumlist">
        <h3 class="modname">快速入口</h3>
        <div class="s_links">
            <ul class="s_grid_line">
                <li>
                    <a href="/z2/">
                        <i><img src="__PUBLIC__/qwhome/picture/s_z2.png" width="24" height="24"></i>
                        <small class="a_arrow"></small>
                        <em>重新定义新旗舰</em><span>联想ZUK Z2</span>
                    </a>
                </li>

                <li>
                    <a href="z1/">
                        <i><img src="__PUBLIC__/qwhome/picture/s_z1.png" width="24" height="24"></i>
                        <small class="a_arrow"></small>
                        <em>ZUK Z1官方讨论区 </em><span>ZUK Z1</span>
                    </a>
                </li>
            
            </ul>
        </div>


        <div class="grid_stat">
            <div class="grid_list">
                <ul>
                    <li>
                        <a href="">
                            <span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_chat.png" width="30" height="30">
                            </span>联想畅谈
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="grid_list_img">
                                <img src="__PUBLIC__/qwhome/picture/s_camera.png" width="30" height="30">
                            </span>趣摄阁
                        </a>
                    </li>

                    <li>
                        <a href="zhuti/">
                            <span class="grid_list_img">
                                <img src="__PUBLIC__/qwhome/picture/s_style.png" width="30" height="30">
                            </span>主题苑
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="grid_list_img">
                                <img src="__PUBLIC__/qwhome/picture/s_activity.png" width="30" height="30">
                            </span>活动中心
                        </a>
                    </li>

                    <li>
                        <a href="zhanwu/">
                            <span class="grid_list_img">
                                <img src="__PUBLIC__/qwhome/picture/s_feedback.png" width="30" height="30">
                            </span>建议申诉
                        </a>
                    </li>

                    <li>
                        <a href="gonggao/">
                            <span class="grid_list_img">
                                <img src="__PUBLIC__/qwhome/picture/s_announcement.png" width="30" height="30">
                            </span>申请公告
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



<div class="box">
    <h3 class="modname">
        <span class="more">
            <a href="">ZUI固件列表<em>»</em></a>
        </span>ZUI更新
    </h3>
    <div class="s_zui_update">
        <h3 title="ZUI ZUI 2.3">ZUI 2.3</h3>
        <p class="font12 color3">最后更新：2016年10月18日</p>
        <p>
            <a href="" class="bluesmallblankbutton">更新说明</a>
            <span class="pipe"></span>
            <a href="" class="bluesmallblankbutton">卡刷包下载</a>
        </p>
    </div>
    <div class="lh50 tc graytopborder">
        <a href="" target="_blank">OTA及卡刷教程</a>
        <span class="pipe">|</span>
        <a href="" target="_blank">开发版和稳定版说明</a>
    </div>
</div>





<div class="box s_forumlist">
    <h3 class="modname">热门标签</h3>
    <div class="s_links">
        <ul>
            <li>
                <a href="">
                    <small class="a_arrow"></small><em>美图赏析</em>
                    <span>Moto Z Play下的秋雨霏霏</span>
                </a>
            </li>
             <li>
                <a href="">
                    <small class="a_arrow"></small><em>美图赏析</em>
                    <span>Moto Z Play下的秋雨霏霏</span>
                </a>
            </li>
             <li>
                <a href="">
                    <small class="a_arrow"></small><em>美图赏析</em>
                    <span>Moto Z Play下的秋雨霏霏</span>
                </a>
            </li>
             <li>
                <a href="">
                    <small class="a_arrow"></small><em>美图赏析</em>
                    <span>Moto Z Play下的秋雨霏霏</span>
                </a>
            </li>    
        </ul>
    </div>
</div>




<div class="box _helplide">
        <div class="s_tab_title">
            <ul class="_helplidetit">
                <li  class="current">售后服务</li>
                <li>关注我们</li>
                <li>社区新手</li>
            </ul>
        </div>
        <div class="_helplidelist">
            <div>
                <div class="grid_list">
                    <ul>
                        <li>
                            <a href="" target="_blank">
                                <span class="grid_list_img">
                                    <img src="__PUBLIC__/qwhome/picture/s_customer.png" width="30" height="30">
                                </span>在线咨询
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank">
                                <span class="grid_list_img">
                                    <img src="__PUBLIC__/qwhome/picture/s_map.png" width="30" height="30">
                                </span>售后网点
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank">
                                <span class="grid_list_img">
                                    <img src="__PUBLIC__/qwhome/picture/s_service.png" width="30" height="30">
                                </span>服务中心
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="customer_service">
                    <h4 class="fullfont color">400-8828-228</h4>
                    <p class="font12 color3">电话服务热线时间：9:00 - 21:00</p>
                </div>
            </div>
                <div class="snswidget" style="display: none;">
                    <div class="sns_widget">
                        <a href="" title="ZUK官方微博" target="_blank">
                            <img src="__PUBLIC__/qwhome/picture/wb_sidebar.jpg" height="120" width="120">
                        </a>
                        <p>
                            <a href="" target="_blank" title="ZUK官方微博">官方微博</a>
                        </p>
                    </div>
                    <div class="sns_widget">
                        <img src="__PUBLIC__/qwhome/picture/wx_sidebar.jpg" height="120" width="120" title="扫一扫关注微信">
                        <p>ZUK微信</p>
                    </div>
                </div>
                <div class="forum_newbie" style="display: none;">
                    <a href="" target="_blank"><span class="a_arrow"></span>发帖与回复</a>
                    <a href=""  target="_blank"><span class="a_arrow"></span>社区总版规</a>
                    <a href="" target="_blank"><span class="a_arrow"></span>赚金币</a>
                    <a href="" target="_blank"><span class="a_arrow"></span>任务体系</a>
                    <a href="" target="_blank"><span class="a_arrow"></span>荣誉勋章</a>
                    <a href="" target="_blank"><span class="a_arrow"></span>ZUK产品认证</a>
                </div>
            </div>
        </div>
    </div>
</div>

</block>

<include file="Public/foot"/>