<include file="Public/head"/>

<block name="main">

<div class="content" id="index">

    <!-- content_left-start -->
    <div class="main">
        
        <!-- 轮播-start -->
        <div class="recommend_pic _slide">

            <div class="recommend_pic_list" >
                <ul class="_slidepic">
                    <volist name="slide" id="val">
                        <li>
                            <a href=" " target="_blank">
                                <img src="__ROOT__<{$val['pic']}>" height="350" width="770" alt="<{$val['title']}>">
                            </a>
                        </li>
                    </volist>
                </ul>
            </div>

            <div class="recommend_pic_title">
                <ul class="_slidetit">
                    <volist name="slide" id="val">
                        <li>
                            <a href="<{$val['url']}>" target="_blank"><{$val['title']}></a>
                        </li>
                    </volist>
                </ul>
            </div>

        </div>
        <!-- 轮播-end -->

        <!-- 列表推荐-start -->
        <div class="box main_box" >

            <!-- 小图推荐-start -->
            <h3 class="modname">推荐阅读</h3>
            <div class="recommend_pic_small">
                <ul>
                <volist name="read" id="val">
                    <li>
                        <a href="<{$val['url']}>"  target="_blank" title="<{$val['title']}>">
                            <img src="__ROOT__<{$val['pic']}>" alt="<{$val['title']}>" height="100" width="228">
                        </a>
                    </li>
                </volist>
                </ul>
            </div>
            <!-- 小图推荐-end -->

            <div class="graybg graytopborder index_tab">
                <h3 class="modname">社区讨论</h3>
                <div class="tab">
                    <ul class="tabul">
                        <li class="
                            <if condition=" I('get.sid') eq '' ">a</if>
                        ">
                            <a href="<{:U('index')}>">热门<span></span></a>
                        </li>
                        <volist name="indexcategory" id="v">
                            <li class="
                                <if condition=" I('get.sid') eq $v['cgid']">a</if>
                            ">
                                <a href="<{:U('index',array('sid'=>$v['cgid']))}>">
                                    <{$v['title']}>
                                    <span></span>
                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>


            <!-- 帖子列表-start -->
            <div class="thread minh"  id="threadlist" summary="forum_0"  style="position: relative;">
                <form method="post" autocomplete="off" name="moderate" id="moderate" action="">

                <volist name="list" id="val">
                    <div class="threadlist">
                        <div class="threadlist_stat threadlist_stat_hot">
                            <a href="<{:U('Section/content',array('aid'=>$val['aid']))}>" title="<{$val['total']}>个回帖"><{$val['total']}></a>
                        </div>
                        <div class="threadlist_title">
                            <div class="right"></div>
                            <a href="<{:U('Section/content',array('aid'=>$val['aid']))}>"><{$val['title']}></a>
                            <img src="<if condition="$val.n egt 50">__PUBLIC__/qwhome/picture/hot_3.gif</if>" align="absmiddle" />
                            <if condition=" $val.thumbnail neq ''">
                            <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" />
                            </if>
                        </div>
                        <div class="threadlist_imglist">
                            <div>
                                <a href="<{:U('Section/content',array('aid'=>$val['aid']))}>">
                                    <img src="
                                    <if condition="$val.thumbnail eq ''">__ROOT__/Uploads/thumbnail/jz.jpg
                                    <else />__ROOT__<{$val['thumbnail']}>
                                    </if>
                                    ">
                                </a>
                            </div>
                        </div>
                        <div class="threadlist_info">
                            <div class="lastreply">
                                <span><{$val['t']|date="Y-m-d H:i:s",###}></span>
                            </div>
                             @ <a href="<{:U('Space/dynamic',array('mid'=>$val['mid']))}>"><{$val['user']}></a>
                        </div>
                    </div>
                </volist>

                </form>
            </div>
            <!-- 帖子列表-end -->

            <!-- <div class="nextpage"><a href="javasctipt:;">下一页</a></div> -->

        </div>
        <!-- 列表推荐-end -->

        <div class="pg"><{$page}></div>

    </div>
    <!-- content_left-end -->


    <div class="sidebar">

        <div class="box forum_user_stat">

            <div class="signin">
                <a href="<{:U('Integral/sign_in')}>" onclick="show();"><font class="font16">签到可获积分奖励  ›</font></a>
                <div class="signin_arrow"></div>
            </div>

            <div class="grid_stat myinfo_stat">
                <div class="grid_list">
                    <ul>
                        <li><a href="" target="_blank"><span class="grid_list_num">17</span>今日任务</a></li>
                        <li><a href="" target="_blank"><span class="grid_list_num">0</span>我的勋章</a></li>
                        <li><em style="border-right:none;"><span class="grid_list_num"><font class="greencolor">1</font></span>签到天数</em></li>
                    </ul>
                </div>
            </div>

            <div class="featured _flslide">
                <div class="featured_list">
                    <ul class="_flslidelist">

                        <li>
                            <h4 class="bluecolor">社区金币</h4>
                            <p class="bluecolor">
                                <span>
                                    <i class="left_line bluebg"></i>截止目前，我拥有 
                                    <a href="" class="bluecolor" target="_blank">5</a> 枚金币
                                    <i class="right_line bluebg"></i>
                                </span>
                            </p>
                            <p>
                                <a href="" class="whitesmallbutton color2" target="_blank">看看能做啥<em>»</em></a>
                                <small class="pipe"></small>
                                <a href="" class="whitesmallbutton color2" target="_blank">金币全攻略<em>»</em></a>
                            </p>
                        </li>

                        <li style="display: none;">
                            <h4 class="bluecolor">ZUK产品认证</h4>
                            <p class="bluecolor">
                                <span>
                                    <i class="left_line bluebg"></i>截止目前，我认证了 
                                    <a href="" class="bluecolor" target="_blank">0</a> 款产品
                                    <i class="right_line bluebg"></i>
                                </span>
                            </p>
                            <p>
                                <a href="" class="whitesmallbutton color2" target="_blank">立刻认证<em>»</em></a>
                                <small class="pipe"></small>
                                <a href="" class="whitesmallbutton color2" target="_blank">购买产品<em>»</em></a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="slide_picshow_status _flslidetit">
                    <span class="current"></span>
                    <span></span>
                </div>
            </div>

        </div><!--./box forum_user_stat-->
    
    <include file="Public/sidebar"/>

    </div><!--./sidebar-->

</div>
<include file="Public/link"/>
</block>



<include file="Public/foot"/>