<extend name="Index/index" />

<block name="main">
	
	<div id="wp" class="wp">
		<style id="diy_style" type="text/css">
		#frameQYrLkr {  background-color:transparent !important;background-image:none !important;}
		#portal_block_5 {  margin-bottom:15px !important;}
		</style>
<!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->

<div id="pt" class="cl">
<div class="z">
<a href="./" class="nvhm" title="首页">BoBo演示站</a><em>&raquo;</em>
<a href="">论坛</a> <em>&rsaquo;</em> 
<a href="">会员天地</a><em>&rsaquo;</em> 
<a href="">我爱自拍</a></div>
</div><div class="wp">
<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<div class="boardnav">
<div id="ct" class="wp cl ct2">


<div class="mn">
  
<link rel="stylesheet" type="text/css" href="__PUBLIC__/timothy/css/style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/timothy/css/lightbox.css" />
<script src="__PUBLIC__/timothy/js/lightbox.js"></script>
<div class="drag">
<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
</div>




    <style>
.ct2 .mn{ width:100%;}
.ct2 .sd{ display:none;}
.ct2{ margin:0;}
</style>    
    <div id="threadlist" class="tl qing_threadlist bm">
<ul id="thread_types" class="ttp cl">
<li id="ttp_all" class="xw1 a"><a href="">全部<span></span></a></li>
<li><a href="">美女<span></span></a></li>
<li><a href="">帅哥<span></span></a></li>
<li><a href="">交友<span></span></a></li>
<li><a href="">晒图<span></span></a></li>
<li><a href="">闺蜜<span></span></a></li>
</ul>

<!-- 发帖 -->
<!-- 发帖 -->
<script type="text/javascript">showTypes('thread_types');</script>
<div class="th q_th">
												
<table cellspacing="0" cellpadding="0">
<tr>
<th colspan="2">
<div class="tf">
<span id="atarget" onclick="setatarget(1)" class="y" title="在新窗口中打开帖子">新窗</span>
                        
                                                <span class="pipe y">|</span>
                            <a href="forum.php?mod=forumdisplay&amp;fid=46&amp;forumdefstyle=yes" class="y chked" title="图片模式浏览帖子">图片模式</a>
                                                <div class="z">

<a href="" class=""><i class="newthead"></i>最新</a>&nbsp;
                        <a href="" class=""><i class="lastthead"></i>最后发表</a>&nbsp;
<a href="" class=""><i class="hotthead"></i>热门</a>&nbsp;

<a href="" class=""><i class="verythead"></i>精华</a>&nbsp;

                        </div>
</div>
</th>
</tr>
</table>
</div>
<div class="bm_c">
<div id="forumnew" style="display:none"></div>
<form method="post" autocomplete="off" name="moderate" id="moderate" action="">
<input type="hidden" name="formhash" value="d2d9fab6" />
<input type="hidden" name="listextra" value="page%3D1" />
<table summary="forum_46" cellspacing="0" cellpadding="0" id="threadlisttableid">
            	</table><!-- end of table "forum_G[fid]" branch 2/3 -->
<ul id="waterfall" class="ml waterfall cl">





	<!-- 图片 -->
	<li style="width:237px">
		<div class="c cl">
		<img src="__PUBLIC__/timothy/picture/zd_pic.png" style="position:absolute; z-index:10;" />
		<a href="" title="虽然是我一个人，但是我依然过的很好！" class="z">
		<img src="__PUBLIC__/timothy/picture/127.jpg" alt="虽然是我一个人，但是我依然过的很好！" width="237" />
		</a>
		</div>
		<h3 class="xw0">
		<a href="" onclick="atarget(this)" title="虽然是我一个人，但是我依然过的很好！">虽然是我一个人，但是我依然过的很好！</a>
		</h3>
		<div class="auth cl">
		<cite class="xg1 y">
		喜欢: 0 &nbsp; 回复: <a href="" title="2 回复">2</a>
		</cite>
		<a href="">无悔这一生</a></div>
	</li>

</ul>
</form>
</div>
    </div>
</div>
</div>
</div>


</block>

<block name="myjs">

</block>