<extend name="Index/index" />

<block name="main">
	
	<div class="pai_top_pic">
		<div class="pai_top_piclist">
			<ul>
				<li>
					<a href="" style="background:url(__PUBLIC__/qwhome/images/pai_big.jpg) no-repeat center top;"></a>
				</li>
			</ul>
		</div>
	</div>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pic/css/default.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pic/css/component.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/pai.css" />

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pic/css/style2.css">
		<script src="__PUBLIC__/pic/js/modernizr.custom.js"></script>

	<div class="pai_top_menu box">
		<div class="content">
			<div class="pic_top_avatar box">
				<a href=""  class="museravatar inlineblock">
					<img src="__PUBLIC__/qwhome/picture/00_avatar_middle.jpg" />
				</a>
			</div>
			<div class="pic_top_userinfo">
				<p>游客</p>
				<p></p>
			</div>
			<div class="pic_top_up">
				<a href="" target="_blank" class="whitesmallbutton">上传趣摄作品</a>
			</div>
			<div class="pic_top_nav">
				<ul>
					<li><a href="" class="bluecolor">全部</a></li>
					<li><a href="" >男神女神</a></li>
					<li><a href="" >生活百态</a></li>
					<li><a href="" >旅途风景</a></li>
					<li><a href="" >植物花卉</a></li>
					<li><a href="" >动物萌宠</a></li>
				</ul>
			</div>
		</div>
	</div>

<div class="content">

	<div class="pic_content_recommend clear pic_content_recommend_big">
		<div class="pic_content_recommend_title">
			<ul>
				<li>趣摄 | 他人 | 不曾 | 见过的风景</li>
			</ul>
		</div>
				<div class="container">
			<ul class="grid effect-2" id="grid" >
				<li>
					<a href="">
						 <div class="col-md-4 col-sm-6">
		                    <div class="box1">
		                        <img src="__PUBLIC__/pic/images/1.jpg">
		                        <div class="boxContent">
		                            <h3 class="title">Branislav Marković作品</h3>
		                            <span class="post">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam atque earum possimus tempore voluptatum!</span>
		                        </div>
		                    </div>
		                </div>
					</a>
				</li>

				
			</ul>
		</div>
		<script src="__PUBLIC__/pic/js/masonry.pkgd.min.js"></script>
		<script src="__PUBLIC__/pic/js/imagesloaded.js"></script>
		<script src="__PUBLIC__/pic/js/classie.js"></script>
		<script src="__PUBLIC__/pic/js/AnimOnScroll.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>
	</div>
</div>
</block>

<block name="myjs">

</block>