<!-- 收货地址 -->
<extend name="Personal/basic" />

<block name="main">

  <div class="p_header"> 
        <h3 class="modname">收货地址</h3> 
    </div>

    <div class="p_timeline">
        <br>
        <div class="p-subnav">以下收货信息为默认的收货信息,仅用于收货使用,不会对外公开</div>

        <form method="post" id="postform">
            <input type="hidden" name="formhash" id="formhash" value="5dd0f4b0">
            <table cellpadding="2" cellspacing="2" border="0">
              <tbody>
                <tr>
                  <td>
                  <strong>收货人姓名</strong>
                  <input type="text" name="userinfo[linkman]" value="孙磊" class="">
                  </td>
                </tr>

                <tr>
                  <td>
                  <strong>收货电话</strong>
                  <input type="text" name="userinfo[linkphone]" value="15665370632" class="">
                  </td>
                </tr>
                <tr>
                  <td>
                  <strong>收货地址</strong>
                  <input type="text" name="userinfo[address]" style="width:360px;" value="安徽省1">
                  </td>
                </tr>
                <tr>
                  <td>
                  <strong></strong>
                  <button type="button" onclick="addresspost(this)"> 更新收货地址 </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </form>

    </div><!--./p_timeline-->

</block>