<!-- 基础资料 -->
<include file="Public/head"/>

<block name="mycss">

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/pinfo.css" />
  <style>
        table { width:98%; margin-top:15px; }
        table strong  { width:150px; display: inline-block; padding-right:15px; text-align: right; font-weight: 100; }
        table td { padding:0 0 12px; }
        table input,table select { border:1px solid #d1d1d1; padding:5px;}
        table select { margin-right:5px; }
        table .px { vertical-align: middle; margin-right:3px;}
        table .pipe { padding:0 2px;}

        #postform button {
          color: #ffffff;
          background-color: #428bca;
          border-color: #357ebd;
        }

        #postform button {
          width: auto;
          overflow: visible;
          display: inline-block;
          padding: 6px 12px;
          _margin-left: 5px;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.428571429;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 4px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
        }
    </style>

</block>

    <div class="breadcrumbs content"> 
        <a href="<{:U('Home/Index/index')}>" title="首页">ZUK社区</a><em>»</em>个人中心<em>»</em>基本资料
    </div>

    <div class="content" id="space_info">
        
        <div class="main">
            <div class="box">
            <script src="__PUBLIC__/qwhome/js/profile.js?hs6" type="text/javascript"></script>
            <block name="main">
                <div class="p_header"> 
                    <h3 class="modname">基本资料</h3> 
                </div>

                <div class="p_timeline">
                    <br>
                    <div class="p-subnav">以下个人信息仅供活动,奖品发放使用,不会对外公开</div>

                    <form method="post" id="postform" class="registerform">
                        <input type="hidden" name="formhash" id="formhash" value="2935a076">
                        <table cellpadding="2" cellspacing="2" border="0">
                            <tr>
                                <td>
                                    <strong>昵称</strong>
                                    <input type="text" name="uname" datatype="*5-16" errormsg="请输入5到10个任意字符的昵称！"> 
                                    <span style="float:right">(昵称一旦设置无法修改)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>性别</strong>
                                    <label><input type="radio" name="userinfo[gender]" value="1" class="px">男</label>
                                    <span class="pipe"></span>
                                    <label><input type="radio" name="userinfo[gender]" value="2" class="px">女</label>
                                    <span style="float:right">(性别一旦设置无法修改)</span>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <strong>生日</strong>

                                    <span style="float:right">(生日一旦设置无法修改)</span>
                                </td>
                            </tr> -->
                            <tr>
                                <td>
                                    <strong>手机</strong>
                                    <input type="text" name="userinfo[mobile]"  datatype="m" nullmsg="请输入您的手机号码！" errormsg="请输入您的手机号码！" value="<{$user['phone']}>" >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>QQ</strong>
                                    <input type="text" name="userinfo[qq]" datatype="n6-13" errormsg="请输入6到13个数字的QQ！" value="<{$user['qq']}>" >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>邮箱</strong>
                                    <input type="text" name="userinfo[email]" datatype="e" errormsg="请输入正确的邮箱" value="<{$user['email']}>">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong></strong>
                                    <button type="submin" onclick="userinfopost(this)"> 更新资料 </button>
                                </td>
                            </tr>
                        </table>
                    </form>

                </div><!--./p_timeline-->

            </block>

            </div>
            <div class="pg"><{$page}></div>
        </div><!--./main-->


        <div class="sidebar">
            <div class="box p_nav">
                <h3>个人资料</h3>
                <div class="p_navs">
                    <ul>
                        <li class="<if condition=" $ANAME eq 'basic' ">a</if>">
                            <div class="r_arrow"></div>
                            <i></i>
                            <a href="<{:U('basic',array('uid'=>$user['uid']))}>">基本资料</a>
                        </li>
                        <li class="<if condition=" $ANAME eq 'modifypic' ">a</if>">
                            <div class="r_arrow"></div>
                            <i></i>
                            <a href="<{:U('modifypic',array('uid'=>$user['uid']))}>">修改头像</a>
                        </li>
                        <li class="<if condition=" $ANAME eq 'modifypass' ">a</if>">
                            <div class="r_arrow"></div>
                            <i></i>
                            <a href="<{:U('modifypass',array('uid'=>$user['uid']))}>">密码安全</a>
                        </li>
                        <li class="<if condition=" $ANAME eq 'address' ">a</if>">
                            <div class="r_arrow"></div>
                            <i></i>
                            <a href="<{:U('address',array('uid'=>$user['uid']))}>">收货地址</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--./sidebar-->

    </div><!--#/space_info-->
    
<include file="Public/foot"/>


<block name="myjs">
<script type="text/javascript" src="__PUBLIC__/demo/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/demo/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">
$(function(){
    //$(".registerform").Validform();  //就这一行代码！;
        
    $(".registerform").Validform({
        tiptype:4
    });
})
</script>
</block>