<!-- 我的帖子 -->
<extend name="Notice/news" />
<block name="mainaa">
   <div class="content" id="space_info"> 
<div class="sidebar"><div class="box p_nav">

<h3>个人资料</h3>
<div class="p_navs">
<ul>
<li>
<div class="r_arrow"></div><i></i><a href="<{:U('Home/Personal/basic')}>">基本资料</a>
</li>
<li class="a">
<div class="r_arrow"></div><i></i><a href="<{:U('Home/Personal/modifypic')}>">修改头像</a>
</li>
<li>
<div class="r_arrow"></div><i></i><a href="<{:U('Home/Personal/modifypass')}>">密码安全</a>
</li>
<li>
<div class="r_arrow"></div><i></i><a href="<{:U('Home/Personal/address')}>">收货地址</a>
</li>
</ul>
</div>
</div></div> 
</block>

<block name="mainaas">
	<div class="main">
		<!-- <iframe style="border:0;paddding:0px;margin:0px" id="iframe1" width="800" height="650" src="<{:U('Home/personal/picsmall')}>"></iframe> -->

		
		</div>
		</div>
</div>
</block>


<block name="myjs">

</block>