<extend name="Index/index" />

<block name="main">

	<div class="breadcrumbs content">
		<a href="">ZUK社区</a><em>&raquo;</em><a href="">兑金堂</a>
	</div>
	<div class="content">
		<div class="exchange_threelist">
			<ul>
				<li>
					<a href=" " target="_blank">
						<i class="coin_i"></i><span>金币攻略</span>秘籍在此，助你成壕 
					</a>
				</li>
				<li>
					<a href=" " target="_blank">
						<i class="rule_i"></i><span>兑换规则</span>第一次兑换？进来看看
					</a>
				</li>
				<li>
					<a href=" " target="_blank">
						<i class="line_i"></i><span>兑换流程</span>兑换很方便，操作很简单
					</a>
				</li>
			</ul>
		</div>
		<div class="exchange_shop">
			<div class="exchange_title">
				<div class="ex_choices">
					<select name="select" onchange="window.location=this.options[this.selectedIndex].value">
						<option value=" " >按价格筛选</option>
						<option value=" " selected>全部商品</option>
						<option value=" " >1~2000金币</option>
						<option value=" " >2001~4999金币</option>
						<option value=" " >5000金币以上</option>
					</select>
				</div>
				<ul>
					<li class="on"><a href="/shop.php">全部</a></li>
					<li ><a href=" ">礼品</a></li>
					<li ><a href=" ">硬货</a></li>
					<li><a href=" ">兑换码</a></li>
					<li><a href=" ">兑换记录</a></li>
				</ul>
			</div>
			<div class="exchange_core">

					<!-- 物品 -->
				<div class="exchange_core_pan js_core_pan" >
					<div class="ex_img">
						<div class="ex_imgicon"><i class="icon_huodong"></i></div>
						<img src="__PUBLIC__/qwhome/picture/150633ua7611f1zrc7c1ig.jpg" alt="">
					</div>
					<div class="ex_title">红木定制移动电源</div>
					<div class="ex_price">
						<span class="underlinetxt">8800</span>
						<span class="orangecolor"><strong>5900</strong></span>金币
					</div>
					<div class="ex_action">
						<a href="javascript:;" onclick="getitem('105')" class="blankgraybtn">兑换</a>
					</div>
					<div class="ex_express js_ex_express">红木定制移动电源，5000mAh，输出5V 1A</div>
				</div>
					<!-- 物品 -->


			</div>
		</div>
	</div>
</block>

<block name="myjs">
	<script>
		formhash='f484f232';
		jQuery(function($){
		showshoptip();

		});
		function showshoptip(){
		var $=jQuery;
		var objtitle=$(".js_core_pan");
		        var x=15;
		        var y=10;
		        objtitle.mouseover(function(e){
		            $(this).find(".js_ex_express")
		                .css({
		                    "top":(e.pageY+y)+"px",
		                    "left":(e.pageX+x)+"px"
		                }).show(0);
		        }).mouseout(function(e){
		            $(this).find(".js_ex_express").hide(0);
		        }).mousemove(function(e){
		           $(this).find(".js_ex_express")
		                .css({
		                    "top":(e.pageY+y)+"px",
		                    "left":(e.pageX+x)+"px"
		                }); 
		        });
		}
		function getitem(itemid){
		var $=jQuery;
		var wh=$(window).innerHeight()>$('body,htm').innerHeight() ? $(window).innerHeight():$('body,html').innerHeight();
		var strex='<div id="_exmask" style="position: fixed; z-index: 12; top: 0px; left: 0px; width: 100%; height:'+wh+'px; opacity: 0.5; background-color: rgb(0, 0, 0);"></div>';
		$.getJSON('shop.php?mod=item&itemid='+itemid+'&formhash='+formhash, function(response){

		$("#append_parent").append(strex+response.content);
		mask_atmid(".ex_popwrap");
		});
		}

</script>
</block>