<extend name="Index/index" />

<block name="main">

	<div class="content nologin" id="showmessage">
		<div class="box succeedmessage" id="main_succeed" style="display: none">
			<div id="messagetext">
				<p id="succeedmessage"></p>
				<p id="succeedlocation"></p>
				<p><a id="succeedmessage_href">如果您的浏览器没有自动跳转，请点击此链接</a></p>
			</div>
		</div>
		<div class="box succeedmessage graybg" id="main_message">
			<div id="messagetext">
				<p>抱歉，您尚未登录，<{$errormessage}></p>
			</div>
			<div class="nologin_box">
			<div class="nologin_boxbg"></div>
			<div class="dib">
				<p>
					<a href="<{:U('Home/Login/index')}>" class="bluesmallbutton">立刻登录</a>
					<span class="pipe"></span>
					<a href="<{:U('Home/Reg/index')}>" class="greensmallblankbutton">没有账号？立刻注册</a>
				</p>
			</div>
			</div>
		</div>
	</div>

</block>

<block name="myjs">

</block>