<!-- 底部版权——start -->
<div class="fm_footer">
	<div class="fm_line"></div>
	<div id="ft" class="content">
		<div class="right font12 color3">
		Copyright © 2016 ZUK.CN / 京ICP备15007699号-1
		</div>
		<a href="#" target="_blank">联想手机商城</a>
		<span class="pipe">|</span>
		<a href="#" target="_blank">合作申请</a>
	</div>
</div>
<!-- 底部版权——end -->

</body>

<block name="myjs">
	
</block>

</html>

<!-- 未登录&登录顶部个人信息 -->
<script>
	var discuz_uid = '0',GroupChangeis = 0,TodayBirthdayis = 0,NewUserWelcomeis = 0,UserBackWelcomeis = 0,TidParty = 13,LOCALWEB = 0;
</script>

<!-- 未登陆提示———start -->
<if condition="$user eq null">
<div class="user_no_login" id="_js_nologin">
	<span class="font22">现在加入ZUK手机社区，<a href="<{:U('Home/Reg/index')}>">注册一个账号</a>或</span>
	<span class="use_id use_zukid"><a href="<{:U('Home/Login/index')}>">ZUK账号登陆</a></span>
	<span class="use_id use_qqid"><a href="#">QQ账号登陆</a></span>
	<span class="use_id use_wbid"><a href="#">微博账号登陆</a></span>
</div>
</if>
<!-- 未登陆提示———end -->


<!-- 返回顶部——start -->
<div id="scrolltop" class="js_scrolltop">
	<a title="返回顶部"  class="scrolltopa">
		<s class="scrolltopb"><img src="__PUBLIC__/qwhome/picture/scrolltop_2.png" alt=""></s>
		<b>返回顶部</b>
	</a>
</div>
<!-- 返回顶部——end -->


<!-- 广告推荐——start -->
<!-- <div class="fullbg" style="background-image:url(__PUBLIC__/qwhome/images/235646yp35xycweuyxuanc.jpg)"></div> -->
<!-- <div class="fullbg_link">
	<a href="#" title="left" style="position: absolute; left:0; top:60px; height:300px; width:100px;display:block;"></a>
	<a href="#" title="right" style="position: absolute; right:0; top:60px; height:300px; width:100px;display:block;"></a>
</div> -->
<!-- 广告推荐——end -->


<script type="text/javascript">
// var h5n = new Html5notification();
// if(h5n.issupport()) {
// h5n.shownotification('notice_mypost', 'http://bbs.lenovomobile.cn/home.php?mod=space&do=notice&view=mypost', 'http://uc.bbs.zuk.cn/data/avatar/000/29/81/63_avatar_small.jpg', '我的帖子 (1)', '有新的提醒，快去看看吧');
// }
</script>