<!-- _______________________________________________________ -->
<!-- 头部head -->

<div class="fm_header">
	<div class="content">
		<div class="fm_logo"><a href="<{:U('Home/Index/index')}>">联想手机社区</a></div>
		<div class="fm_nav">
			<ul>
				<li  class="current"><a href="<{:U('Home/Index/index')}>">首页</a></li>
				<li ><a href="<{:U('Home/Section/index')}>">版块</a></li>
				<li ><a href="<{:U('Home/Exchange/index')}>">兑金堂</a></li>
				<li><a href="<{:U('Home/Pic/index')}>" >相册</a></li>
				<li ><a href="<{:U('Home/Turntable/index')}>">转盘</a></li>
			</ul>
		</div>
		<div class="fm_userinfo fm_noinfo">

			<script type="text/javascript" src="__PUBLIC__/qwhome/js/bufflist.js"></script>

			<a href="<{:U('Home/Login/index')}>"  class="ppdiag">登录</a>
			<span class="pipe">|</span>
			<a href="<{:U('Home/Reg/index')}>">注册</a>
		</div>
		<div class="fm_search">
			<form id="scbar_form" method="post"  onsubmit="#" action="#" target="_blank">
			
				<div class="forum_search">
					<ul>
						<li class="scbarbutton">
							<button type="submit">搜索</button>
						</li>
						<li class="scbartype">
							<a href="#" >帖子</a>
						</li>
						<li class="scbarbox">
							<input type="text" name="srchtxt" id="scbar_txt" value="请输入搜索内容" />
						</li>
					</ul>
				</div>
			</form>	
			<script type="text/javascript">
			initSearchmenu('scbar', '');
			</script>
		</div>
	</div>
</div>
<!-- 头部结束 -->
<!-- _______________________________________________________ -->