<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<title><{$Think.CONFIG.title}></title>
	<meta name="keywords" content="<{$Think.CONFIG.keywords}>" />
	<meta name="description" content="<{$Think.CONFIG.description}>" />
	
	<!-- 全局 -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/style_2_common.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/nanoscroller.css">

	<!-- mycss -->
	<block name="mycss"></block>

	<style>
		/*分页自定义样式statrt*/
		.pagination li{float: left;}
		.pagination li a{margin-left: 5px;padding: 9px 13px 9px 14px;height: 17px;line-height: 17px;}
		.pagination li a:hover{color: #1499f8;}
		.disabled a{background-color: #1499f8;color: #fff;}
		.disabled a:hover{background-color: #1499f8;color: #fff;cursor: no-drop;}
		/*分页自定义样式end*/
	</style>

	<script src="__PUBLIC__/qwhome/js/common.js" type="text/javascript"></script>
	<script src="__PUBLIC__/qwhome/js/sea.js" type="text/javascript"></script>
	<script src="__PUBLIC__/qwhome/js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/qwhome/js/jquery.forum.js" type="text/javascript"></script>
	<script src="__PUBLIC__/qwhome/js/forum.js" type="text/javascript"></script>

</head>

<body id="nv_forum" class="pg_CURMODULE" onkeydown="if(event.keyCode==27) return false;">

<div id="append_parent"></div><div id="ajaxwaitid"></div>

<!-- _______________________________________________________ -->
<!-- 头部head -->

<div class="fm_header">
	<div class="content">
		<div class="fm_logo" style="background-image:url('__ROOT__<{$Think.CONFIG.logo}>')"><a href="<{:U('Home/Index/index')}>">联想手机社区</a></div>
		<div class="fm_nav">
			<ul class="nav_list">
				<li class="<if condition=" $CNAME eq 'Index' ">current</if>"><a href="<{:U('Home/Index/index')}>">首页</a></li>
				<li class="<if condition=" $CNAME eq 'Section' ">current</if>"><a href="<{:U('Home/Section/index')}>">版块</a></li>
				<li class="<if condition=" $CNAME eq 'Pic' ">current</if>"><a href="<{:U('Home/Pic/index')}>" >趣摄阁</a></li>
			</ul>
		</div>
		<if condition="$user eq ''">
			<div class="fm_userinfo fm_noinfo">
				<a href="<{:U('Home/Login/index')}>" class="ppdiag">登录</a>
				<span class="pipe">|</span>
				<a href="<{:U('Home/Reg/index')}>">注册</a>
			</div>
		<else />
			<div class="fm_userinfo">
				<div class="fm_dibavatar js_dibavatar">

					<a  href="<{:U('Space/dynamic',array('mid'=>$user['uid']))}>" target="_blank" title=""><{$user.uname}></a>
					( <em><a href="<{:U('Space/credit')}>" class="colorlink"><{$user.score}></a></em> )

					<div class="flu_grid js_grid">

						<div class="flu_grid_t">
							<a href="<{:U('Home/Personal/modifypic')}>" class="grid_avatar">
								<img src="__ROOT__<{$user.head}>" onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_middle.gif'" />
								<div class="grid_edit">编辑<br />头像</div>
							</a>
						</div>

						<div class="grid_stat flu_grid_c">
							<div class="grid_list">
								<ul>
									<li>
										<a href="<{:U('My/posts')}>" target="_blank">
											<span class="grid_list_num threadNum"><{$user['countuposts']}></span>帖子
										</a>
									</li>
									<li>
										<a href="<{:U('My/collection')}>" target="_blank">
											<span class="grid_list_num favoriteNum"><{$user['countfavorite']}></span>收藏
										</a>
									</li>
									<li>
										<a href="<{:U('My/friends')}>" target="_blank">
											<span class="grid_list_num friendNum"><{$user['countufriends']}></span>好友
										</a>
									</li>
									<li>
										<a href="<{:U('My/credit')}>" target="_blank">
											<span class="grid_list_num extcredits5"><{$user['countcredit']}></span>积分
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="flu_grid_f">
							<a href="<{:U('Home/Personal/basic')}>" class="greensmallbutton">修改资料</a>
							<span class="pipe"></span>
							<a href="<{:U('Home/Logout/index')}>" class="graysmallbutton">退出登录</a>
						</div>

					</div>
				</div>

				<div class="fm_dibavatar js_dibavatar">

					<span class="pipe">|</span>
					<a href="/home.php?mod=space&amp;do=pm">通知
						<div class="promptdot redsmallbox">1</div>
					</a>

					<div class="flu_grid js_grid">

						<div class="grid_stat flu_grid_c">
							<div class="grid_list">
								<ul>
									<li>
										<a href="/home.php?mod=space&amp;do=pm" target="_blank">
											<span class="grid_list_num">0</span>短消息
										</a>
									</li>
									<li>
										<a href="/home.php?mod=space&amp;do=notice&amp;view=mypost" target="_blank">
											<span class="grid_list_num">1</span>我的帖子
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="flu_grid_f">
							<a href="/home.php?mod=spacecp&amp;ac=pm" class="greensmallbutton">给好友发私信</a>
						</div>
					</div>
				</div>

			</div>
		</if>
		
		<!-- 搜索——start -->
		<div class="fm_search">
			<form id="scbar_form" method="post"  onsubmit="#" action="<{:U('Search/index')}>" target="_blank">
				<div class="forum_search" style="width: 210px;">
					<ul>
						<li class="scbarbutton">
							<button type="submit">搜索</button>
						</li>
						<!-- <li class="scbartype">
							<a href="#" >帖子</a>
						</li> -->
						<li class="scbarbox">
							<input type="text" name="srchtxt" id="scbar_txt" placeholder="请输入搜索内容" />
						</li>
					</ul>
				</div>
			</form>
		</div>
		<!-- 搜索——end -->

	</div>
	<div class="fm_line"></div>
</div>

<!-- 头部结束 -->
<!-- _______________________________________________________ -->

<body>