<div class="box">
    <h3 class="modname">
        <span class="more"><{$topic['t']|date="Y年m月d日",###}>更新</span>全民话题
    </h3>
    <div class="s_topic" style="background:url(__PUBLIC__/qwhome/images/105252bw0woohoy2377r1g.jpg); ">
        <a href="<{:U('Section/content',array('aid'=>$topic['aid']))}>" class="s_topic_content"><{$topic['title']}>
            <span class="bluesmallblankbutton">参与讨论</span>
        </a>
    </div>
</div>


<div class="box s_forumlist">

    <h3 class="modname">快速入口</h3>
    <div class="s_links">
        <ul class="s_grid_line">

        	<volist name="arrs['zuk']" id="v">
            <li>
                <a href="<{:U('Section/theme',array('sid'=>$v['id']))}>">
                    <i><img src="__PUBLIC__/qwhome/picture/<{$v['name']}>.png" width="24" height="24"></i>
                    <small class="a_arrow"></small>
                    <em><{$v['name']}>讨论区</em><span><{$v['name']}></span>
                </a>
            </li>
            </volist>

            <volist name="arrs['Moto专区']" id="v">
            <li>
                <a href="<{:U('Section/theme',array('sid'=>$v['id']))}>">
                    <i><img src="__PUBLIC__/qwhome/picture/<{$v['name']}>.png" width="24" height="24"></i>
                    <small class="a_arrow"></small>
                    <em><{$v['name']}>讨论区</em><span><{$v['name']}></span>
                </a>
            </li>
            </volist>

        </ul>
    </div>


    <div class="grid_stat">
        <div class="grid_list">
            <ul>
            	<volist name="arrs['粉丝广场']" id="v">
            	<li>
                    <a href="<{:U('Section/theme',array('sid'=>$v['id']))}>">
                        <span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/<{$v['name']}>.png" width="30" height="30">
                        </span><{$v['name']}>
                    </a>
                </li>
               	</volist>

               	<volist name="arrs['站务大厅']" id="v">
            	<li>
                    <a href="<{:U('Section/theme',array('sid'=>$v['id']))}>">
                        <span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/<{$v['name']}>.png" width="30" height="30">
                        </span><{$v['name']}>
                    </a>
                </li>
               	</volist>

            </ul>
        </div>
    </div>
    
</div>



<div class="box">
    <h3 class="modname">
        <span class="more">
            <a href="">ZUI固件列表<em>»</em></a>
        </span>ZUI更新
    </h3>
    <div class="s_zui_update">
        <h3 title="ZUI ZUI 2.3">ZUI 2.3</h3>
        <p class="font12 color3">最后更新：2016年10月18日</p>
        <p>
            <a href="" class="bluesmallblankbutton">更新说明</a>
            <span class="pipe"></span>
            <a href="" class="bluesmallblankbutton">卡刷包下载</a>
        </p>
    </div>
    <div class="lh50 tc graytopborder">
        <a href="" target="_blank">OTA及卡刷教程</a>
        <span class="pipe">|</span>
        <a href="" target="_blank">开发版和稳定版说明</a>
    </div>
</div>

<div class="box s_forumlist">
    <h3 class="modname">热门标签</h3>
    <div class="s_links">
        <ul>
            <li>
                <a href="">
                    <small class="a_arrow"></small><em>美图赏析</em>
                    <span>Moto Z Play下的秋雨霏霏</span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="box _helplide">
    <div class="s_tab_title">
        <ul class="_helplidetit">
            <li  class="current">售后服务</li>
            <li>关注我们</li>
            <li>社区新手</li>
        </ul>
    </div>
    <div class="_helplidelist">
        <div>
            <div class="grid_list">
                <ul>
                    <li>
                        <a href="" target="_blank">
                            <span class="grid_list_img">
                                <img src="__PUBLIC__/qwhome/picture/s_customer.png" width="30" height="30">
                            </span>在线咨询
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <span class="grid_list_img">
                                <img src="__PUBLIC__/qwhome/picture/s_map.png" width="30" height="30">
                            </span>售后网点
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <span class="grid_list_img">
                                <img src="__PUBLIC__/qwhome/picture/s_service.png" width="30" height="30">
                            </span>服务中心
                        </a>
                    </li>
                </ul>
            </div>
            <div class="customer_service">
                <h4 class="fullfont color">400-8828-228</h4>
                <p class="font12 color3">电话服务热线时间：9:00 - 21:00</p>
            </div>
        </div>
        <div class="snswidget" style="display: none;">
            <div class="sns_widget">
                <a href="" title="ZUK官方微博" target="_blank">
                    <img src="__PUBLIC__/qwhome/picture/wb_sidebar.jpg" height="120" width="120">
                </a>
                <p>
                    <a href="" target="_blank" title="ZUK官方微博">官方微博</a>
                </p>
            </div>
            <div class="sns_widget">
                <img src="__PUBLIC__/qwhome/picture/wx_sidebar.jpg" height="120" width="120" title="扫一扫关注微信">
                <p>ZUK微信</p>
            </div>
        </div>
        <div class="forum_newbie" style="display: none;">
            <a href="" target="_blank"><span class="a_arrow"></span>发帖与回复</a>
            <a href=""  target="_blank"><span class="a_arrow"></span>社区总版规</a>
            <a href="" target="_blank"><span class="a_arrow"></span>赚金币</a>
            <a href="" target="_blank"><span class="a_arrow"></span>任务体系</a>
            <a href="" target="_blank"><span class="a_arrow"></span>荣誉勋章</a>
            <a href="" target="_blank"><span class="a_arrow"></span>ZUK产品认证</a>
        </div>
        
    </div>
</div>