<!-- 收藏 -->
<extend name="Space/dynamic" />

<block name="main">

    <div class="p_header"> 
        <h3 class="modname">收藏</h3> 
    </div>
    
    <empty name="favoritelist">
        <div class="time_prompt nomyhomelog  graytopborder"></div>
    <else />
        <div class="p_threadlist"> 
            <ul>
            <volist name="favoritelist" id="val">
                <li> 
                    <em>
                        <span title="<{$val['dateline']|date="Y-m-d H:i:s",###}>">
                            <{$val['dateline']|date="Y-m-d H:i:s",###}>
                        </span><br />
                        <a href="<{:U('Section/themes',array('cgid'=>$val['sid'],'sid'=>$val['pid']))}>" class="color1" target="_blank"><{$val['name']}></a>
                    </em>
                    <a href="<{:U('Section/content',array('aid'=>$val['tid']))}>" class="font16 lh50" target="_blank">
                    <{$val['favtitle']}>
                    </a> 
                </li>
            </volist>
            </ul> 
        </div>    
    </empty>

</block>