<!-- 收藏 -->

<extend name="Space/dynamic" />

<block name="mainc">
	<div class="main">
<div class="box">
<div class="p_header">
<h3 class="modname">收藏</h3>
</div>

<div class="p_threadlist">
<ul><li>
<em><span title="2016-11-16 17:15">2&nbsp;小时前</span><br /><a href="/chat/"  target="_blank">联想畅谈</a></em><a href="/chat/t344007/" class="font16 lh50" target="_blank">警告5次就永久封号，是这样吗！</a>
</li>
<li>
<em><span title="2016-11-12 21:58">4&nbsp;天前</span><br /><a href="/zhuti/"  target="_blank">主题苑</a></em><a href="/zhuti/t333646/" class="font16 lh50" target="_blank">【主题匠师】黑色省电个性锁屏合集</a>
</li>
<li>
<em><span title="2016-11-10 09:57">6&nbsp;天前</span><br /><a href="/chat/"  target="_blank">联想畅谈</a></em><a href="/chat/t327389/" class="font16 lh50" target="_blank">高科技助你轻松养娃</a>
</li>
<li>
<em>2016-11-6 19:17<br /><a href="/camera/"  target="_blank">趣摄阁</a></em><a href="/camera/t317699/" class="font16 lh50" target="_blank">三分钟教你从屌丝变身专业摄影师（色影师）的7种拍照神</a>
</li>
<li>
<em>2016-11-3 16:51<br /><a href="/huodong/"  target="_blank">活动中心</a></em><a href="/huodong/t309811/" class="font16 lh50" target="_blank">【活动开奖】玩转十一，一呼百应 活动开奖咯！</a>
</li>
<li>
<em>2016-11-3 16:15<br /><a href="/huodong/"  target="_blank">活动中心</a></em><a href="/huodong/t309719/" class="font16 lh50" target="_blank">【考工记第四期】ZUI大桌面产品经理约你上直播</a>
</li>

</ul>
</div>

</div>
<div class="pg"><div class="pg"><strong>1</strong><a href="">2</a><label><input type="text" name="custompage" class="px" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="" /><span title="共 2 页"> / 2 页</span></label><a href="" class="nxt">下一页</a></div></div></div>
</block>


 <block name="maincs">
     <div class="p_navs"> 
      <ul> 
       <li>
        <div class="r_arrow"></div><a href="<{:U('Home/Space/dynamic')}>" title="Sidney的社区动态"><i></i>个人动态</a></li> 
       <li>
        <div class="r_arrow"></div><a href="<{:U('Home/Space/theme')}>" title="Sidney发表的主题"><i></i><span class="graysmallbox">382</span>主题</a></li> 
       <li class="a">
        <div class="r_arrow"></div><a href="<{:U('Home/Space/collection')}>" title="Sidney收藏的帖子"><i></i><span class="graysmallbox">52</span>收藏</a></li> 
       <li>
        <div class="r_arrow"></div><a href="<{:U('Home/Space/friends')}>" title="Sidney的好友列表"><i></i><span class="graysmallbox">320</span>好友</a></li> 
       <li>
        <div class="r_arrow"></div><a href="<{:U('Home/Space/information')}>" title="Sidney的个人资料"><i></i>社区资料</a></li> 
      </ul> 
     </div> 
 </block>
<block name="myjs">
</block>