<include file="Public/head"/>

<block name="mycss">

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/pinfo.css" />

</block>

    <div class="breadcrumbs content"> 
        <a href="<{:U('Home/Index/index')}>" title="首页">ZUK社区</a>
        <em>&raquo;</em>
        <a href="<{:U('Home/Space/dynamic',array('mid'=>$muser['uid']))}>">
        <if condition="$muser.uname eq '' "><{$muser.user}>
        <else /> <{$muser.uname}>
        </if>
        的个人主页
        </a>
    </div>


<div class="content" id="space_info">
        
        <div class="main">
            <div class="box">

            <block name="main">
                <div class="p_header"> 
                    <h3 class="modname">个人动态</h3> 
                </div>

                <if condition="$userlist neq ''">
                    <div class="p_timeline"> 
                        <ul>
                            <volist name="userlist" id="val">
                            <li> 
                                <i><span></span></i>
                                <em><span title="<{$val.dateline|date="Y-m-d H:i:s",###}>"><{$val.dateline|date="Y-m-d H:i:s",###}></span></em> 
                                <div class="p_timeline_title"> 
                                    <div class="p_quote">
                                        <{$val.message}>
                                    </div> 
                                    来自 
                                    <a href="<{:U('Section/content',array('aid'=>$val['tid']))}>" target="_blank"><{$val.title}></a> 
                                </div> 
                            </li>
                            </volist> 
                        </ul> 
                    </div>
                <else />
                    <div class="time_prompt nomyhomelog  graytopborder"></div>
                </if>

            </block>

            </div>
            <div class="pg"><{$page}></div>
        </div><!--./main-->


        <div class="sidebar">

            <div class="box">

                <div class="p_s_avatar">
                    <img src="__ROOT__<{$muser.head}>" onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_middle.gif'" />
                    <p><strong>
                        <if condition="$muser.uname eq '' "><{$muser.user}>
                        <else /> <{$muser.uname}>
                        </if>
                    </strong></p> 
                    <p><font color="#000000">实习版主</font></p> 
                </div> 

                <div class="p_s_info"> 
                    <div class="viewthread_author_act"> 
                        <a href="" id="a_sendpm_232801" onclick="showWindow('showMsgBox', this.href, 'get', 0)" class="bluesmallbutton" title="发送消息">
                            发送消息
                        </a>
                        <a href="" onclick="showWindow(this.id, this.href, 'get', 0);" class="greensmallbutton">
                            加为好友
                        </a> 
                    </div> 
                </div> 

                <div class="p_navs"> 
                    <ul> 
                        <li class="<if condition=" $ANAME eq 'dynamic' ">a</if>">
                            <div class="r_arrow"></div>
                            <a href="<{:U('Home/Space/dynamic',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>的社区动态">
                                <i></i>个人动态
                            </a>
                        </li> 
                        <li class="<if condition=" $ANAME eq 'stheme' ">a</if>">
                            <div class="r_arrow"></div>
                                <a href="<{:U('Home/Space/stheme',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>发表的主题">
                                <i></i><span class="graysmallbox"><{$usertotal['userposts']}></span>主题
                            </a>
                        </li> 
                        <li class="<if condition=" $ANAME eq 'collection' ">a</if>">
                            <div class="r_arrow"></div>
                            <a href="<{:U('Home/Space/collection',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>收藏的帖子">
                                <i></i><span class="graysmallbox"><{$usertotal['userfavorite']}></span>收藏
                            </a>
                        </li> 
                        <li class="<if condition=" $ANAME eq 'friends' ">a</if>">
                            <div class="r_arrow"></div>
                            <a href="<{:U('Home/Space/friends',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>的好友列表">
                                <i></i><span class="graysmallbox"><{$usertotal['userfriends']}></span>好友
                            </a>
                        </li> 
                        <li class="<if condition=" $ANAME eq 'information' ">a</if>">
                            <div class="r_arrow"></div>
                            <a href="<{:U('Home/Space/information',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>的个人资料">
                                <i></i>社区资料
                            </a>
                        </li> 
                    </ul> 
                </div> 

            </div>  
        </div><!--./sidebar-->

    </div><!--#/space_info-->

<include file="Public/foot"/>