<include file="Public/head"/>

<block name="mycss">

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/pinfo.css" />

</block>

    <div class="breadcrumbs content"> 
        <a href="<{:U('Home/Index/index')}>" title="首页">ZUK社区</a>
        <em>&raquo;</em>
        <a href="<{:U('Home/Space/dynamic',array('mid'=>$muser['uid']))}>">
        <if condition="$muser.uname eq '' "><{$muser.user}>
        <else /> <{$muser.uname}>
        </if>
        的个人主页
        </a>
    </div>


<div class="content" id="space_info">
        
        <div class="main">
            <div class="box">

            <block name="main">
                <div class="p_header"> 
                    <h3 class="modname">个人动态</h3> 
                </div>

                <if condition="$userlist neq ''">
                    <div class="p_timeline"> 
                        <ul>
                            <volist name="userlist" id="val">
                            <li> 
                                <i><span></span></i>
                                <em><span title="<{$val.dateline|date="Y-m-d H:i:s",###}>"><{$val.dateline|date="Y-m-d H:i:s",###}></span></em> 
                                <div class="p_timeline_title"> 
                                    <div class="p_quote">
                                        <{$val.message}>
                                    </div> 
                                    来自 
                                    <a href="<{:U('Section/content',array('aid'=>$val['tid']))}>" target="_blank"><{$val.title}></a> 
                                </div> 
                            </li>
                            </volist> 
                        </ul> 
                    </div>
                <else />
                    <div class="time_prompt nomyhomelog  graytopborder"></div>
                </if>

            </block>

            </div>
            <div class="pg"><{$page}></div>
        </div><!--./main-->


        <div class="sidebar">

            <div class="box">

                <div class="p_s_avatar">
                    <img src="__ROOT__<{$muser.head}>" onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_middle.gif'" />
                    <p><strong>
                        <if condition="$muser.uname eq '' "><{$muser.user}>
                        <else /> <{$muser.uname}>
                        </if>
                    </strong></p> 
                    <p><font color="#000000">实习版主</font></p> 
                </div> 

                <div class="p_s_info"> 
                    <div class="viewthread_author_act"> 
                        <a href="" id="a_sendpm_232801" onclick="showWindow('showMsgBox', this.href, 'get', 0)" class="bluesmallbutton" title="发送消息">
                            发送消息
                        </a>
                                               <a  id="Button1" type="button" value="点击弹出层" onclick="ShowDiv('MyDiv','fade')" class="greensmallbutton">
                            加为好友
                        </a> 
                    </div> 
                </div> 


                    <!-- 加好友验证 -->
                    <div id="MyDiv" class="white_content">
                   

  <table cellpadding="0" cellspacing="0" class="fwin"> 
   <tbody> 
    <tr> 
     <td class="m_c" id="fwin_content_a_friend" fwin="a_friend"> <h3 class="flb" id="fctrl_a_friend" style="cursor: move;"> <em id="return_a_friend" fwin="a_friend">加为好友</em> <span> <a href="javascript:;" onclick="CloseDiv('MyDiv','fade')" class="flbc" title="关闭">关闭</a> </span></h3> 
      <form method="post" id="addform_40728" action="<{:U('Addfriends/addfriends')}>"> 
       <div class="c"> 
        <table> 
         <tbody> 
          <tr> 
           <th valign="top" width="60" class="avt"> <a href=""> <img src="" onerror="" /> </a> </th> 
           <td valign="top">添加 <strong>离火</strong> 为好友，附言:<br /> 
            <input type="text" name="note" value="" size="35" class="px" /> 
            <input type="hidden" name="uid" value="<{$muser.uid}>" />
            <input type="hidden" name="mid" value="<{$muser.uname}>" />
            <input type="hidden" name="type" value="adf" />
            <p class="mtn xg1">(附言为可选，离火 会看到这条附言)</p> </td> 
          </tr> 
         </tbody> 
        </table> 
       </div> 
       <p class="o pns"> <button type="submit" class="bluesmallbutton" fwin="a_friend"><strong>确定</strong></button> </p> 
      </form> </td> 
    </tr> 
   </tbody> 
  </table>


                    </div>
                    <!-- 加好友验证 end-->

                <div class="p_navs"> 
                    <ul> 
                        <li class="<if condition=" $ANAME eq 'dynamic' ">a</if>">
                            <div class="r_arrow"></div>
                            <a href="<{:U('Home/Space/dynamic',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>的社区动态">
                                <i></i>个人动态
                            </a>
                        </li> 
                        <li class="<if condition=" $ANAME eq 'stheme' ">a</if>">
                            <div class="r_arrow"></div>
                                <a href="<{:U('Home/Space/stheme',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>发表的主题">
                                <i></i><span class="graysmallbox"><{$usertotal['userposts']}></span>主题
                            </a>
                        </li> 
                        <li class="<if condition=" $ANAME eq 'collection' ">a</if>">
                            <div class="r_arrow"></div>
                            <a href="<{:U('Home/Space/collection',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>收藏的帖子">
                                <i></i><span class="graysmallbox"><{$usertotal['userfavorite']}></span>收藏
                            </a>
                        </li> 
                        <li class="<if condition=" $ANAME eq 'friends' ">a</if>">
                            <div class="r_arrow"></div>
                            <a href="<{:U('Home/Space/friends',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>的好友列表">
                                <i></i><span class="graysmallbox"><{$usertotal['userfriends']}></span>好友
                            </a>
                        </li> 
                        <li class="<if condition=" $ANAME eq 'information' ">a</if>">
                            <div class="r_arrow"></div>
                            <a href="<{:U('Home/Space/information',array('mid'=>$muser['uid']))}>" title="<{$muser['user']}>的个人资料">
                                <i></i>社区资料
                            </a>
                        </li> 
                    </ul> 
                </div> 

            </div>  
        </div><!--./sidebar-->

    </div><!--#/space_info-->

<include file="Public/foot"/>


<style>
.black_overlay{
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}
.white_content {
display: none;
position: absolute;
top: 40%;
left: 40%;
    width: 394px;
    height: 228px;
border: 1px solid black;
background-color: white;
z-index:1002;
overflow: auto;
}

</style>
<script type="text/javascript">


//弹出隐藏层
function ShowDiv(show_div,bg_div){
document.getElementById(show_div).style.display='block';
document.getElementById(bg_div).style.display='block' ;
var bgdiv = document.getElementById(bg_div);
bgdiv.style.width = document.body.scrollWidth;
// bgdiv.style.height = $(document).height();
$("#"+bg_div).height($(document).height());
};
//关闭弹出层
function CloseDiv(show_div,bg_div)
{
document.getElementById(show_div).style.display='none';
document.getElementById(bg_div).style.display='none';
};
</script>
