<!-- 社区资料 -->
<extend name="Space/dynamic" />

<block name="main">

    <div class="p_header"> 
        <h3 class="modname">社区资料</h3> 
    </div>

    <div class="p_profile"> 
      <div class="p_s_list"> 
       <div class="p_s_title">
        <h3>个人统计</h3>
       </div> 
       <div class="p_s_stat"> 
        <ul> 
         <li class="p_s_stat_title h50"><strong class="redcolor font16 lh50 ">Sidney</strong></li> 
         <li class="p_s_stat_title"><em>管辖版块：</em><a href="/chat/" target="_blank">联想畅谈</a> &nbsp;</li> 
         <li><em>UID：</em>232801</li>
         <li><em>性别：</em>保密</li> 
         <li><em>积分：</em>57045</li> 
         <li><em>主题：</em>382</li> 
         <li><em>回帖：</em>70392</li> 
         <li><em>好友：</em>320</li> 
         <li><em>收藏：</em>52</li> 
        </ul> 
       </div> 
       <div class="p_s_page_mode"> 
        <div class="page_mode"></div>
        <div class="page_mode_01"></div> 
       </div> 
      </div> 
      <div class="p_s_list"> 
       <div class="p_s_title">
        <h3>荣誉勋章</h3>
       </div> 
       <div class="p_s_pic"> 
        <a href=""><img src="__PUBLIC__/qwhome/picture/badge32.gif" alt="社区版主" id="md_42" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md_42_menu', 'pos':'12!'});" /></a>
        <a href=""><img src="__PUBLIC__/qwhome/picture/badge36.gif" alt="U健康中秋挑战" id="md_45" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md_45_menu', 'pos':'12!'});" /></a>
        <a href=""><img src="__PUBLIC__/qwhome/picture/badge02.png" alt="在线王" id="md_11" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md_11_menu', 'pos':'12!'});" /></a>
        <a href=""><img src="__PUBLIC__/qwhome/picture/badge29.png" alt="沙发达人" id="md_37" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md_37_menu', 'pos':'12!'});" /></a>
        <a href=""><img src="__PUBLIC__/qwhome/picture/badge27.png" alt="签到王" id="md_24" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md_24_menu', 'pos':'12!'});" /></a>
        <a href=""><img src="__PUBLIC__/qwhome/picture/badge28.png" alt="散分达人" id="md_36" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md_36_menu', 'pos':'12!'});" /></a>
        <div id="md_42_menu" class="tip tip_4" style="display: none;"> 
         <div class="tip_horn"></div> 
         <div class="tip_c"> 
          <h4>社区版主</h4> 
          <p>社区一版之主</p> 
         </div> 
        </div> 
        <div id="md_45_menu" class="tip tip_4" style="display: none;"> 
         <div class="tip_horn"></div> 
         <div class="tip_c"> 
          <h4>U健康中秋挑战</h4> 
          <p>U健康中秋挑战赛</p> 
         </div> 
        </div> 
        <div id="md_11_menu" class="tip tip_4" style="display: none;"> 
         <div class="tip_horn"></div> 
         <div class="tip_c"> 
          <h4>在线王</h4> 
          <p>在线时间大于1000小时</p> 
         </div> 
        </div> 
        <div id="md_37_menu" class="tip tip_4" style="display: none;"> 
         <div class="tip_horn"></div> 
         <div class="tip_c"> 
          <h4>沙发达人</h4> 
          <p>绝对的第一时间现场控，抢沙发次数大于30次</p> 
         </div> 
        </div> 
        <div id="md_24_menu" class="tip tip_4" style="display: none;"> 
         <div class="tip_horn"></div> 
         <div class="tip_c"> 
          <h4>签到王</h4> 
          <p>签到连续达到30天即可获得</p> 
         </div> 
        </div> 
        <div id="md_36_menu" class="tip tip_4" style="display: none;"> 
         <div class="tip_horn"></div> 
         <div class="tip_c"> 
          <h4>散分达人</h4> 
          <p>加分控，为10名+用户加分</p> 
         </div> 
        </div> 
       </div> 
       <div class="p_s_page_mode"> 
        <div class="page_mode"></div>
        <div class="page_mode_01"></div> 
       </div> 
      </div> 

      <div class="p_s_list"> 
       <div class="p_s_title">
        <h3>活跃概况</h3>
       </div> 
       <div class="p_s_stat p_s_stat_twolist"> 
        <ul> 
         <li><em>在线时间：</em>1924 小时</li> 
         <li><em>注册时间：</em>2016-6-27 10:33</li> 
         <li><em>最后访问：</em>2016-11-16 19:53</li> 
         <li><em>上次活动时间：</em>2016-11-16 18:09</li> 
         <li><em>上次发表时间：</em>2016-11-16 18:19</li> 
        </ul> 
       </div> 
       <div class="p_s_page_mode"> 
        <div class="page_mode"></div>
        <div class="page_mode_01"></div> 
       </div> 
      </div> 
     </div> 

</block>