<!-- 社区资料 -->
<extend name="Space/dynamic" />

<block name="main">

    <div class="p_header"> 
        <h3 class="modname">社区资料</h3> 
    </div>

    <div class="p_profile"> 
        <div class="p_s_list">

            <div class="p_s_title">
                <h3>个人统计</h3>
            </div>

            <div class="p_s_stat"> 
                <ul> 
                    <li class="p_s_stat_title h50">
                        <strong class="redcolor font16 lh50 ">
                        <if condition="$muser.uname eq '' "><{$muser.user}>
                        <else /> <{$muser.uname}>
                        </if>
                        </strong>
                    </li> 
                    <li><em>UID：</em><{$muser.uid}></li>
                    <li>
                        <em>性别：</em>
                        <if condition="$muser.sex eq 0"> 保密
                        <elseif condition="$muser.sex eq 1"/> 男
                        <else /> 女
                        </if>
                    </li> 
                    <li><em>积分：</em><{$usertotal['usercredit']}></li> 
                    <li><em>主题：</em><{$usertotal['userposts']}></li> 
                    <li><em>回帖：</em><{$usertotal['userreply']}></li> 
                    <li><em>好友：</em><{$usertotal['userfriends']}></li> 
                    <li><em>收藏：</em><{$usertotal['userfavorite']}></li> 
                    <li><em>头衔：</em><{$usertotal['usercore']}></li> 
                </ul> 
            </div>

            <div class="p_s_page_mode"> 
                <div class="page_mode"></div>
                <div class="page_mode_01"></div> 
            </div>

        </div><!--./p_s_list-->

        <div class="p_s_list"> 
            <div class="p_s_title">
                <h3>活跃概况</h3>
            </div> 
            <div class="p_s_stat p_s_stat_twolist"> 
                <ul> 
                    <li><em>注册时间：</em><{$muser['t']|date="Y-m-d H:i:s",###}></li> 
                </ul> 
            </div> 
            <div class="p_s_page_mode"> 
                <div class="page_mode"></div>
                <div class="page_mode_01"></div> 
            </div> 
        </div>

    </div><!--./p_profile-->

</block>