<!-- 主题 -->


<extend name="Space/dynamic" />

<block name="mainc">
	   <div class="main"> 
    <div class="box"> 
     <div class="p_header"> 
      <h3 class="modname">主题</h3> 
     </div> 
     <div class="p_threadlist"> 
      <ul>
       <li> <em><span title="2016-11-16 19:43">2&nbsp;小时前</span><br /><a href="/motoz/" class="color1" target="_blank">Moto Z系列</a></em><a href="/motoz/t344192/" class="font16 lh50" target="_blank">你的手机呢？怎么不拿出来拍照？</a> </li> 
       <li> <em><span title="2016-11-16 13:31">8&nbsp;小时前</span><br /><a href="/z2/" class="color1" target="_blank">联想ZUK Z2</a></em><a href="/z2/t343752/" class="font16 lh50" target="_blank">ZUK新机ZUK edge即将发布！！！</a> </li> 
       <li> <em><span title="2016-11-16 00:00">21&nbsp;小时前</span><br /><a href="/newbie/" class="color1" target="_blank">新手社区</a></em><a href="/newbie/t341942/" class="font16 lh50" target="_blank">2016年11月16日签到帖</a> </li> 

      </ul> 
     </div> 
    </div> 
    <div class="pg">
     <div class="pg">
      <strong>1</strong>
      <a href="">2</a>
      <a href="">3</a>
      <a href="">4</a>
      <a href="">5</a>
      <a href="">6</a>
      <a href="">7</a>
      <a href="">8</a>
      <label><input type="text" name="custompage" class="px" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="if(event.keyCode==13) {window.location='space.php?mod=thread&amp;uid=193268&amp;page='+this.value;; doane(event);}" /><span title="共 8 页"> / 8 页</span></label>
      <a href="/space.php?mod=thread&amp;uid=193268&amp;page=2" class="nxt">下一页</a>
     </div>
    </div>
   </div>
</block>


  <block name="maincs">
     <div class="p_navs"> 
      <ul> 
       <li>
        <div class="r_arrow"></div><a href="<{:U('Home/Space/dynamic')}>" title="Sidney的社区动态"><i></i>个人动态</a></li> 
       <li class="a">
        <div class="r_arrow"></div><a href="<{:U('Home/Space/theme')}>" title="Sidney发表的主题"><i></i><span class="graysmallbox">382</span>主题</a></li> 
       <li>
        <div class="r_arrow"></div><a href="<{:U('Home/Space/collection')}>" title="Sidney收藏的帖子"><i></i><span class="graysmallbox">52</span>收藏</a></li> 
       <li>
        <div class="r_arrow"></div><a href="<{:U('Home/Space/friends')}>" title="Sidney的好友列表"><i></i><span class="graysmallbox">320</span>好友</a></li> 
       <li>
        <div class="r_arrow"></div><a href="<{:U('Home/Space/information')}>" title="Sidney的个人资料"><i></i>社区资料</a></li> 
      </ul> 
     </div> 
 </block>

<block name="myjs">
</block>