<!-- 版主管理 -->

<include file="Public/head" />

<block name="mycss">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/pinfo.css">
</block>

<div class="breadcrumbs content"> 
   <a href="<{:U('Home/Index/index')}>">ZUK社区</a>
   <em>»</em>版主管理
   <em>»</em><a href="">帖子管理</a> 
</div>

<div class="content" id="space_info">

        <div class="box">

            <div class="p_header"></div>

            <div class="p_viewlist" style="margin: 0 14px;"> 
                <div class="tab"> 
                    <ul> 
                        <li class="
                            <if condition="(I('get.status') eq '0') OR (I('get.status') eq '')">
                                a
                            </if>
                        ">
                            <a href="<{:U('index',array('sid'=>$sid,'status'=>0))}>">已发表</a>
                        </li> 
                        <li class="
                            <if condition="I('get.status') eq '1'">
                                a
                            </if>
                        ">
                            <a href="<{:U('index',array('sid'=>$sid,'status'=>1))}>">待审核</a>
                        </li> 
                    </ul> 
                </div>
            </div>

            <div class="p_threadlist"> 
              <form method="post" autocomplete="off" name="delform" id="delform" action="<{:U('update')}>" > 
                    <!-- <input type="hidden" name="formhash" value="c8a069ed">  -->
                    <!-- <input type="hidden" name="delfavorite" value="true">  -->
                    <ul>
                    <volist name="lists" id="val">
                        <li> 
                         <div class="p_threadlist_right">
                            <input type="checkbox" name="aids[]" value="<{$val['aid']}>">
                         </div> 
                         <em><span><{$val['t']|date="Y-m-d H:i:s",###}></span></em> 
                         [<if condition="$val.status eq '1'">
                                <span style="color: red">待审</span>
                            <else/>
                                <span style="color: blue">已审</span>
                        </if>]　
                         <span class="color1"><{$val.name}></span>　
                         <a href="
                            <{:U('Section/content',array('aid'=>$val['aid']))}>
                         " target="_blank">
                            <{$val['title']}>
                        </a> 
                        </li> 
                    </volist>
                        <li class="p_threadlist_last"> 
                            <if condition="I('get.status') eq '1'">
                                <button type="submit" name="delsubmit" value="true" class="graysmallbutton">审核所选</button> 
                            <else />
                                <button type="submit" name="delsubmit" value="false" class="graysmallbutton">取审所选</button> 
                            </if>      
                            <label for="chkall" onclick="checkall(this.form, 'aids')">
                                <input type="checkbox" name="chkall" id="chkall">全选
                            </label> 
                        </li> 
                   </ul> 
              </form> 
            </div>
        </div>

        <div class="pg"><{$page}></div>

</div><!--#/space_info-->

<include file="Public/foot" />

<block name="myjs"></block>