<!-- 系统消息 -->
<extend name="Notice/news" />


<block name="main">

    <div class="p_header"> 
        <h3 class="modname">系统消息</h3>
    </div>

    <form id="deletepmform" action="" method="post" autocomplete="off" name="deletepmform"> 
        <div class="p_threadlist"> 
            <dl id="pmlist_24957" class=""> 
                <table width="100%"> 
                    <tr> 
                        <td class="p_timeline_list_avt"> <a href="" target="_blank"><img src="picture/17_avatar_small.jpg" onerror="" /></a> </td> 
                        <td class="p_pm_tousername"> ZUK946486<p><span title="2016-11-16 22:00">半小时前</span></p> </td> 
                        <th class="p_pm_lastsummary"> 11111<a href="" id="pmlist_24957_a"></a> </th> 
                        <td class="p_pm_time"><small class="graysmallbox">1 条对话</small></td> 
                    </tr> 
                </table> 
            </dl> 
        </div> 
    </form>

</block>

<block name="myjs">

</block>