<!-- 系统消息 -->
<extend name="Notice/news" />


<block name="main">

    <div class="p_header"> 
        <h3 class="modname">系统消息</h3>
    </div>
        <empty name="adminmessage">
            <div class="time_prompt graytopborder">
                暂时没有系统消息
            </div>
        <else />
        <div class="p_threadlist">
            <volist name="adminmessage" id="val">
            <dl id="pmlist_24957" class=""> 
                <table width="100%"> 
                    <tr> 
                        <td class="p_timeline_list_avt"> <a href=""><img src="__PUBLIC__/pic/header_1.jpg" onerror="" /></a> </td> 
                        <td class="p_pm_tousername"><{$val.author}><p><span><{$val.dateline|date="Y-m-d H:i:s",###}></span></p> </td>
                        <th class="p_pm_lastsummary"><{$val.note}><a href="" id="pmlist_24957_a"></a> </th> 
                        <td class="p_pm_time">
                            <small uid="<{$val.id}>" class="graysmallbox">
                            <if condition="$val.new eq 1 ">忽略
                            <else /> 已查看
                            </if>
                            </small>
                        </td> 
                    </tr> 
                </table> 
            </dl>  
            </volist>
        </div>
        </empty>


</block>

<block name="myjs">
    <script>
        $(".graysmallbox").click(function () {
                var ob = $(this);
                var id = ob.attr('uid');
                $.get("<{:U('change')}>?ajax=yes&id=" + id, function (data) {
                    // var text = ob.find("option:selected").text();
                    // ob.parent().find(".group").removeClass('hide').html(text);
                    // ob.addClass('hide');
                });
            })
    </script>
</block>