<!-- 新的好友 -->
<extend name="Notice/news" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/alert/css/sweet-alert.css">
	<script src="__PUBLIC__/alert/js/sweet-alert.min.js"></script>

	<block name="main">

		<div class="p_header">
			<h3 class="modname">新的好友</h3>
		</div>

		<if condition="($myp eq '') OR ($friend eq '')">
	        <div class="time_prompt graytopborder">
	            暂时没有提醒内容
	        </div>
	    <else />
		<div class="p_timeline p_notice">
			<ul>
				<!-- 加好友申请 -->
				<volist name="myp" id="myps">
					<li class="" id="pendingFriend_298917" notice="761736">
						<i><span></span></i>
						<em><span title="<{$myps.dateline|date="Y-m-d H:i:s",###}>"><{$myps.dateline|date="Y-m-d H:i:s",###}>&nbsp;</span></em>
						<div class="p_timeline_title" style="color:#000;font-weight:bold;">
							<p>
								<a href=""><{$myps.author}></a> 
								请求加您为好友，附言：<{$myps.note}>&nbsp;&nbsp;
								<a  class="xw1" id="afr_298917" href="javascript:delayURL('<{:U('Addfriends/notic',array('id'=>$myps['id']))}>',2000);" style="text-decoration:underline;color:red;">批准申请
								</a>
							</p>
						</div>
					</li>
				</volist>

				<!-- 加好友同意后日志 -->
				<volist name="friend" id="friends">
					<li class="" id="pendingFriend_225702" notice="758514">
						<i><span></span></i>
						<em><span title="<{$friends.dateline|date="Y-m-d H:i:s",###}>"><{$friends.dateline|date="Y-m-d H:i:s",###}></span></em>
						<div class="p_timeline_title" style="">
						<p><a href=""><{$friends.fusername}></a> 和您成为了好友</p>
						</div>
					</li>
				</volist>
			</ul>
		</div>
		</if>

	</block>


<block name="myjs">

<script>
document.querySelector('div.p_timeline_title p a.xw1').onclick = function(){
	swal({
		title: "恭喜你,成功加为好友",
		text: "2秒后自动关闭",
		imageUrl: '__PUBLIC__/qwhome/images/goods_1_2.png',
		showConfirmButton: false,
		reverseButtons:true,
	});
};

</script>

<script type="text/javascript">
 function delayURL(url,time){
 setTimeout("top.location.href = '" + url + "'",time);
 }
</script>
</block>