<!-- 我的帖子 -->
<extend name="Notice/news" />
<block name="mainaa">
	 <div class="content" id="space_info"> 
   <div class="sidebar">
    <div class="box p_nav"> 
     <h3>通知</h3> 
     <div class="p_navs"> 
      <ul> 
       <li> 
        <div class="r_arrow"></div><a href="<{:U("Home/Notice/news")}>"><i></i>消息</a> </li> 
       <li> 
        <div class="r_arrow"></div><a href="<{:U("Home/Notice/message")}>"><i></i>系统消息</a> </li>
        <li class="a"> 
        <div class="r_arrow"></div><a href="<{:U("Home/Notice/mypost")}>"><i></i>我的帖子</a> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
</block>

<block name="mainaas">
	<div class="main">
		<div class="box">
			<div class="p_header">
				<h3 class="modname">我的帖子</h3>
				<div class="tab">
					<ul>
						<li class="a"><a href="">被回复 <span></span></a></li>
						<li><a href="">@我的 <span></span></a></li>
					</ul>
				</div>
			</div>
			<div class="p_timeline p_notice">
				<ul>
					<li class=""  notice="749938">
						<i><span></span></i>
						<em><span title="2016-11-14 17:37">前天&nbsp;17:37</span></em>
						<div class="p_timeline_title" style="">
							<p>您的主题 
								<a href="" target="_blank">1111111111111111111111111111111111111111</a> 被 
								<a href="">Sidney</a> 删除 
								<div class="quote">
									<blockquote>恶意灌水</blockquote>
								</div>
							</p>
						</div>
					</li>
					<li class=""  notice="749938">
						<i><span></span></i>
						<em><span title="2016-11-14 17:37">前天&nbsp;17:37</span></em>
						<div class="p_timeline_title" style="">
							<p>您的主题 
								<a href="" target="_blank">1111111111111111111111111111111111111111</a> 被 
								<a href="">Sidney</a> 删除 
								<div class="quote">
									<blockquote>恶意灌水</blockquote>
								</div>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		</div>
</div>
</block>


<block name="myjs">

</block>