<!-- 发消息 -->

<extend name="Notice/news" />


<block name="main">

    <div class="p_header"> 
        <div class="p_header_button">
            <a href='<{:U("Home/Notice/news")}>' class="whitesmallbutton">返回列表</a>
        </div> 
        <h3 class="modname">与 
            <a href="
            <{:U('Space/dynamic',array('mid'=>$muser['uid']))}>
            " class="colorlink"><{$muser.uname}></a> 的消息记录 
        </h3> 
    </div> 

    <div id="pm_ul" class="p_pm_list">

        <volist name="falg" id="val"> 
            <div id="" 
                <if condition="$muser['uid'] eq $val['authorid']">
                    class="p_pm_say p_pm_usay"
                <else />
                    class="p_pm_say p_pm_isay"
                </if>
            > 
                <div class="p_pm_list_c">
                    <{$val.note}>
                    <div class="p_pm_list_arrow"></div> 
                    <div class="p_pm_list_c_time">
                        <span><{$val['dateline']|date="d日H:i",###}></span>
                    </div> 
                    <div class="p_pm_list_avt"> 
                        <a href="">
                            <img src="__ROOT__<{$val.head}>"  onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_small.gif'" />
                        </a> 
                    </div> 
                </div> 
            </div>
        </volist>
        <div id="pm_append" style="display: none"></div> 
    </div>

    <a name="last"></a>
  
    <div id="pm_ul_post" class="p25">
        <form id="pmform" name="pmform" method="post" autocomplete="off" action="<{:U('Addfriends/sends')}>">
            <div class="tedt graybg">
                <div class="area ">
                    <textarea rows="3" cols="40" name="note" class="pt" id="replymessage" ></textarea>
                </div>
            </div>
            <div class="mtm right mbw">
                <button type="submit"  id="pmsubmit" class="greensmallbutton" >
                    <strong>发送</strong>
                </button>
                <span id="pmforum_return"></span>
            </div>
            <input type="hidden" name="type" value="friend">
            <input type="hidden" name="uaid" value="<{$uaid}>">
        </form>
    </div>

</block>

<block name="myjs"></block>