<!-- 收藏 -->

<extend name="My/posts" />

<block name="main">

    <div class="p_header">
        <h3 class="modname">我的收藏</h3>
    </div>

    <div class="p_threadlist"> 
        <form method="post" autocomplete="off" name="delform" id="delform" action="<{:U('delFavorite')}>" >
            <empty name="favoritelist">
                <div class="time_prompt graytopborder nomyfavorite"></div>
            <else />
            <ul>
                <volist name="favoritelist" id="val">
                <li> 
                    <div class="p_threadlist_right">
                        <input type="checkbox" name="favorite[]" value="<{$val['favid']}>">
                    </div> 
                    <em><span title="<{$val['dateline']|date="Y-m-d H:i:s",###}>"><{$val['dateline']|date="Y-m-d H:i:s",###}></span></em> 
                    <a href="<{:U('Section/content',array('aid'=>$val['tid']))}>" target="_blank"><{$val['favtitle']}></a> 
                </li>
                </volist>

                <li class="p_threadlist_last"> 
                    <button type="submit" name="delsubmit" value="true" class="graysmallbutton">删除选中</button> 
                    <label for="chkall" onclick="checkall(this.form, 'favorite')"><input type="checkbox" name="chkall" id="chkall">全选</label> 
                </li>
            </ul>
            </empty> 
        </form> 
    </div> 

</block>

<block name="myjs">

</block>