<!-- 好友 -->

<extend name="My/posts" />

<block name="main"> 
     <div class="p_header"> 
      <h3 class="modname">我的好友</h3> 
     </div> 
     <div class="p_threadlist_m"> 
      <ul>
       <li id="friend_298917_li"> 
        <div class="p_threadlist_avatar"> 
         <a href="" c="1"><img src="picture/17_avatar_small.jpg" onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_small.gif'"></a> 
        </div> 
        <div class="p_threadlist_c"> 
         <i class="title_line"></i> 
         <a href="" class="font22">ZUK946486</a> 
         <p>幼儿园</p> 
        </div> 
        <div class="p_threadlist_stat"> 
        </div> 
        <div class="p_threadlist_get"> 
         <a href="" id="a_sendpm_298917" onclick="showWindow('showMsgBox', this.href, 'get', 0)" title="发送消息" class="greensmallblankbutton">发消息</a>
         <a href="" onclick="showWindow(this.id, this.href, 'get', 0);" title="删除" class="whitesmallbutton">解除关系</a> 
        </div> </li> 
      </ul> 
     </div> 
</block>

<block name="myjs">

</block>