<!-- 我的等级 -->
<extend name="My/posts" />


<block name="main">

    <div class="p_header"> 
        <h3 class="modname">我的积分</h3>
    </div> 

    <div class="minh mlr25 graytopborder">
        <div class="p-main-aticle"> 

            <div class="grayborder graybg" style="padding: 12px 20px;">
                <strong class="redcolor">头衔</strong> = 
                <strong class="greencolor">积分</strong> = 注册积分 + 发帖积分 + 回帖积分    （
                <em class="color4"> 125 = 100 + 20 + 5 </em>）
            </div>
            <br>
            <div class="p-conlist"> 
                <div id="gupgrade_menu" class="p_pop">
                    <ul>
                        <volist name="score" id="val">
                        <li>
                            <a href="" 
                            <if condition="$user['score'] eq $val['honor']">
                                style="color: red"
                            </if>
                            >
                            [<{$val['jid']}>]　<{$val['honor']}>　><{$val['min']}>
                            </a>
                        </li>
                        </volist>
                    </ul>
                
                </div> 
            </div>

        </div> 
     </div> 

</block>

<block name="myjs">

</block>