<!-- 帖子 -->

<include file="Public/head" />

<div id="index">
    
<block name="mycss">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/pinfo.css">
</block>

<div class="breadcrumbs content"> 
   <a href="<{:U('Home/Index/index')}>">ZUK社区</a>
   <em>»</em>个人中心
</div>

<div class="content" id="space_info">
   
    <div class="sidebar">
        <div class="box p_nav"> 
            <h3>我的</h3> 
            <div class="p_navs"> 
                <ul> 
                    <li class="<if condition=" $ANAME eq 'posts' ">a</if>"> 
                        <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/posts')}>">帖子</a>
                    </li> 
                    <li class="<if condition=" $ANAME eq 'reply' ">a</if>"> 
                        <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/reply')}>">回复</a>
                    </li> 
                    <li class="<if condition=" $ANAME eq 'collection' ">a</if>"> 
                        <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/collection')}>">收藏</a> 
                    </li> 
                    <li class="<if condition=" $ANAME eq 'friends' ">a</if>"> 
                        <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/friends')}>">好友</a> 
                    </li> 
                    <li class="<if condition=" $ANAME eq 'mygrade' ">a</if>"> 
                        <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/mygrade')}>">积分</a> 
                    </li> 
                </ul> 
            </div> 
        </div>
    </div><!--./sidebar-->

<div class="main">

        <div class="box">

        <block name="main">
            <div class="p_header"> 
                <h3 class="modname">我的帖子</h3> 
            </div>

            <div class="p_viewlist" style="margin: 0 14px;"> 
                <div class="tab"> 
                    <ul> 
                        <li class="
                            <if condition="(I('get.status') eq '0') OR (I('get.status') eq '')">
                                a
                            </if>
                        ">
                            <a href="<{:U('posts',array('sid'=>$sid,'status'=>0))}>">已发表</a>
                        </li> 
                        <li class="
                            <if condition="I('get.status') eq '1'">
                                a
                            </if>
                        ">
                            <a href="<{:U('posts',array('sid'=>$sid,'status'=>1))}>">待审核</a>
                        </li> 
                    </ul> 
                </div>
            </div>

            <div class="p_threadlist"> 
              <form method="post" autocomplete="off" name="delform" id="delform" action="<{:U('delPosts')}>" >
                <empty name="postslist">
                    <div class="time_prompt graytopborder nomythread"></div>
                <else />
                    <ul>
                    <volist name="postslist" id="val">
                        <li> 
                         <div class="p_threadlist_right">
                            <input type="checkbox" name="aids[]" value="<{$val['aid']}>">
                         </div> 
                         <em><span><{$val['t']|date="Y-m-d H:i:s",###}></span></em> 
                         <a href="
                            <{:U('Section/themes',array('cgid'=>$val['sid'],'sid'=>$val['pid']))}>
                         " class="color1">【<{$val.name}>】</a>　
                         <a href="
                            <{:U('Section/content',array('aid'=>$val['aid']))}>
                         " target="_blank">
                            <{$val['title']}>
                        </a> 
                        </li> 
                    </volist>
                        <li class="p_threadlist_last"> 
                            <button type="submit" name="delsubmit" value="true" class="graysmallbutton">删除所选</button> 
                            <label for="chkall" onclick="checkall(this.form, 'aids')">
                                <input type="checkbox" name="chkall" id="chkall">全选
                            </label> 
                        </li> 
                    </ul> 
                </empty>   
              </form> 
            </div>

        </block>
    </div>
    <div class="pg"><{$page}></div>
</div>

</div><!--#/space_info-->

</div>

<include file="Public/foot" />

<block name="myjs"></block>