<!-- 中奖纪录 -->

<extend name="My/post" />
<include file="Public/head" />
<block name="content">

 <div class="sidebar">
        <div class="box p_nav"> 
         <h3>我的</h3> 
         <div class="p_navs"> 
          <ul> 
           <li> 
            <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/post')}>">帖子</a> </li> 
           <li> 
            <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/collection')}>">收藏</a> </li> 
           <li> 
            <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/friends')}>">好友</a> </li> 
           <li> 
            <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/record')}>">兑换记录</a> </li> 
           <li class="a"> 
            <div class="r_arrow"></div><i></i><a href="<{:U('Home/My/winning')}>">转盘中奖记录</a> </li> 
          </ul> 
         </div>  
        
        </div>
       </div>
</block>
<block name="right">
	<div class="main"> 
    <div class="box"> 
     <div class="p_header"> 
      <h3 class="modname">中奖记录</h3> 
     </div> 
     <div class="time_prompt graytopborder">
      目前没有中奖记录
     </div> 
    </div> 
   </div>
</block>
<include file="Public/foot" />
<block name="myjs">
</block>