<extend name="Index/index" />

<block name="mycss">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/post.css" />
</block>

<block name="main">

<div class="breadcrumbs content">
    <a href="<{:U('Home/Index/index')}>" title="首页">ZUK社区</a>
    <em>»</em> <a href="<{:U('Home/Section/index')}>">版块</a> 
    <em>»</em> <a href="<{:U('themes',array('sid'=>$cgname['id']))}>"><{$cgname['name']}></a>
    <em>»</em>发表帖子
</div>


<form method="post" action="<{:U('posts')}>" id="form">
    <div id="ct" class="box content">
        <div id="editorbox">

            <div class="tab graybg">
                <ul class="graybg p20"><li class="a"><a href="javascript:;">发表帖子<span></span></a></li></ul>
            </div>

            <div id="postbox" class="p20" style="margin: 15px 0 0 0;text-align: right;">
                <div class="clear mb15">
                    <div class="posttid">
                        <select name="typeid" id="typeid" width="80">     
                            <option value="0">选择版块分类</option>

                            <volist name="cglist" id="val">
                                <option value="<{$val['id']}>"><{$val['name']}></option>
                            </volist>
                            
                        </select>
                    </div>
                    <input type="text" name="title" id="title" class="inputboxtitle" value="" style="width: 25em;height: 15px;float: left;" />
                </div>

                <input type="hidden" name="uid" value="<{$user['uid']}>">

                <textarea id="content" name="content" style="width:1050px;height:500px;"></textarea>

                <div class="postbutton" style="margin: 15px 0 0 0;">
                    <button type="submit" id="postsubmit" class="bluesmallbutton submit">
                        <span>发表帖子</span>
                    </button>
                </div>
            </div>

        </div><!--./editorbox-->
    </div><!--./box content-->
</form>
  
</block>

<block name="myjs">
    <script>
        $(function () {
            $(".submit").click(function () {
                alert(1);
                var sid = $("#typeid").val();
                var title = $("#title").val();
                var content = $("#content").val();
                console.log(sid);
                if (sid == 0) {
                    // bootbox.dialog({
                    //     title: '友情提示：',
                    //     message: "帖子版块必须选择。",
                    //     buttons: {
                    //         "success": {
                    //             "label": "确定",
                    //             "className": "btn-danger"
                    //         }
                    //     }
                    // });
                    alert('1');
                    return;
                }
                if (title == '') {
                    bootbox.dialog({
                        title: '友情提示：',
                        message: "帖子标题必须填写。",
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
                }
                if (content == '') {
                    bootbox.dialog({
                        title: '友情提示：',
                        message: "帖子内容需要填写。",
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
                    return;
                }
                $("#form").submit();
            });
        });
    </script>

    <script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
    <!-- <script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script> -->
    <script>
            KindEditor.ready(function(K) {
                    window.editor = K.create('#content');
            });
    </script>
</block>