<extend name="Index/index" />

<block name="main">
    
    <div class="breadcrumbs content"> 
        <a href="<{:U('Home/Index/index')}>" title="首页">ZUK社区</a>
        <em>&raquo;</em>
        <a href="<{:U('Home/Section/index')}>">版块</a> 
        <em>&raquo;</em> 
        <a href="<{:U('theme',array('sid'=>$cgpost['pid']))}>"><{$pcgpost['name']}></a>
        <em>&raquo;</em> 
        <a href="<{:U('content',array('aid'=>$arr['aid']))}>"><{$arr['title']}></a>
    </div>


    <div class="content" id="viewthread"> 

        <div class="main viewthread"> 

            <div class="box">

                <div class="viewthread_main firstfloor">

                    <!-- <div id="threadstamp">
                        <img src="__PUBLIC__/qwhome/picture/006.gif" title="推荐" />
                    </div>  -->

                    <div class="viewthread_title"> 

                        <div class="viewthread_con"> 
                            <h1> 
                                <a href="<{:U('theme',array('cgid'=>$cgpost['id'],'sid'=>$cgpost['pid']))}>" class="colorlink">
                                    [<{$cgpost['name']}>]
                                </a>
                                <a href="<{:U('content',array('aid'=>$arr['aid']))}>">
                                    <span id="thread_subject"><{$arr['title']}></span>
                                </a> 
                            </h1> 
                            <span> </span>

                            <div class="viewthread_top">

                                <em id="authorposton3693762"><{$arr['t']|date="Y-m-d H:i:s",###}></em>
                                <span class="cutline"></span>
                                <a title="" href="/" target="_blank" class="color3"><{$arr['keywords']}></a>
                                <div class="viewthreadtop_storey right">
                                    <span class="s_view" title="查看"></span>4673
                                    <span class="pipe"></span>
                                    <span class="s_reply" title="回复"></span>652
                                </div>

                            </div>

                        </div>

                    </div> 

                    <div class="viewthread_con_first ">

                        <!-- <div class="viewthread_content">
                            
                        </div> -->
                        <{$arr['content']}>

                        <div id="viewthread_foot"> 
                            <div class="viewthread_foot"> 

                                <div class="right"> 
                                    <a href="javascript:;" class="opacity"><span class="s_rate"></span>评分</a>
                                    <a href=""><span class="s_reply"></span>回复</a> 
                                </div>

                                <div class="bdsharebuttonbox dib">分享至：
                                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">微博<i></i></a>
                                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
                                    <a href="#" class="bds_more" data-cmd="more"></a>
                                </div> 
                                <script>
                                window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","kaixin001","tieba","sqq"],"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                                </script>

                                <span class="cutline"></span>
                                <a href="" class="k_favorite" id="k_favorite" onclick="showWindow(this.id, this.href, 'get', 0);" onmouseover="this.title = $('favoritenumber').innerHTML + ' 人收藏'" title="收藏本帖">
                                    <span class=""></span>8人收藏
                                </a> 
                            </div> 
                        </div> 
                    </div> 

                </div>
                <form method="post" autocomplete="off" id="vfastpostform" action="<{:U('Home/Section/fast')}>" > 
                    <div id="viewthread_fastreply"> 
                        <div class="viewthread_fastreply" id="vfastposttb"> 
                            <div class="viewthread_fastreplybutton">
                                <button type="submit" name="replysubmit" id="vreplysubmit" >快速回复</button>
                            </div> 
                            <div class="viewthread_fastreplyinput">
                                <input type="text" name="message"/>
                                <input type="hidden" name="aid" value=<{$_GET['aid']}> />
                            </div> 
                        </div> 
                    </div> 
                </form> 

            </div>



    <div class="box" id="replylists"> 
     <div class="viewthread_main replylist_title"> 
      <div class="right font14"> 
       <a href="" class="bluecolor">楼层顺序</a>
       <span class="pipe">|</span>
       <a href="">最新评论</a> 
      </div> 
      <strong>652</strong> 条回帖 
     </div> 

    <foreach name="critic" item="va">
     <div id="post_3695031" class="viewthread_main"> 
      <div class="viewthread_avatar" id="favatar3695031"> 
       <div id="remainTime" style="font-size:20px;font-weight:700;color:#FF9900;"></div> 
       <a href="" class="author_avatar" target="_blank"><img src="__ROOT__<{$va['head']}>" onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_middle.gif'" /></a> 
      </div> 
      <div class="viewthread_con " id="pid3695031" summary="pid3695031"> 
       <div class="viewthread_top"> 
  
        <a href="" target="_blank"><strong><{$va['uname']}></strong></a>
        <span class="spipe"></span>
        <a href="" class="color3" target="_blank">初中生</a> 
        <span class="cutline"></span>
        <em id="authorposton3695031"><{$va['dateline']|date="Y-m-d H:i:s",###}></em>
        
        <div class="viewthreadtop_storey right"> 
         <div class="floor_function"> 
         </div> 
         <a href="" onclick="setCopy(this.href, '帖子地址复制成功');return false;" class="floor_link "> 沙发</a> 
        </div> 
       </div> 
       <div class="viewthread_content" author="ZUK383932" pid="3695031" formhash="c8a069ed"> 
        <div class="viewthread_table">
         <table cellspacing="0" cellpadding="0">
          <tbody>
           <tr>
            <td id="postmessage_3695031"><{$va['message']}></td>
           </tr>
          </tbody>
         </table>
        </div> 
        <!--回复帖回复列表--> 
        <div id="comment_3695031">
          <!-- 回复 -->
      <foreach name="criti" item="vb">   
          <div class="viewthread_replylog">
            <ul>
              <li title="发表于1970-1-1 08:00 ">
                <a href="" class="avatar" c="1">
                  <img src="__ROOT__<{$vb['head']}>" onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_small.gif'">
                </a>
                <p>
                  <a href="" class="author">Timothy：</a>
                  <a href="">6666</a>
                </p> 
              </li>
            </ul>
          </div> 
    </foreach>

        </div> 
       </div> 
       <div id="viewthread_foot"> 
        <div class="viewthread_foot"> 
         <div class="right"> 
          <form id="tform" action="<{:U('Home/Section/fasta')}>" method="post">
          <input type="text" name="message" style="border:2px solid #F1F1F1; width:570px;height:30px">
          <input type="hidden" name="" valeu=   >
          <input type="hidden" name="" valeu=   >
          <a  href="javascript:void(0)" onclick="document.getElementById('tform').submit()"><span class="s_reply"></span>回复</a> 
        </form>
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
</foreach>
<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="21f3c92feba9a8a4e9a0ca61aa960175" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"timosl"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->


    </div> 
    <div class="clear"> 
     <div class="right"> 
      <div class="pg">
       <strong>1</strong>
       <a href="/zui/t197927/2/">2</a>
       <a href="/zui/t197927/3/">3</a>
       <a href="/zui/t197927/4/">4</a>
       <a href="/zui/t197927/5/">5</a>
       <a href="/zui/t197927/6/">6</a>
       <a href="/zui/t197927/7/">7</a>
       <a href="/zui/t197927/8/">8</a>
       <a href="/zui/t197927/9/">9</a>
       <a href="/zui/t197927/10/">10</a>
       <a href="/zui/t197927/14/" class="last">... 14</a>
       <label><input type="text" name="custompage" class="px" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="if(event.keyCode==13) {window.location='/zui/t197927/'+this.value;; doane(event);}" /><span title="共 14 页"> / 14 页</span></label>
       <a href="/zui/t197927/2/" class="nxt">下一页</a>
      </div>
     </div> 
    </div> 

    <div id="f_pst" class="box"> 
     <form method="post"  id="fastpostform" action="" onsubmit="return fastpostvalidate(this)"> 
      <div class="viewthread_pst"> 
       <div class="viewthread_reply"> 
        <span id="fastpostreturn"></span> 
        <div class="cl"> 
         <div id="fastsmiliesdiv" class="y dn">
          <div id="fastsmiliesdiv_data">
           <div id="fastsmilies"></div>
          </div>
         </div>
         <div class="hasfsl" id="fastposteditor"> 
          <div class="tedt mtn"> 
           <div class="area"> 
            <textarea rows="6" cols="80" name="message" id="fastpostmessage" onkeydown="seditor_ctlent(event, 'fastpostvalidate($(\'fastpostform\'))');" tabindex="4" class="pt"></textarea> 
           </div> 
           <div class="bar"> 
  

            <div class="fpd"> 
             <a href="javascript:;" class="fsml" id="fastpostsml" onclick="showMenu({'ctrlid':this.id,'evt':'click','layer':2});return false;">Smilies</a> 

  
            </div>
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <div id="seccheck_fastpost"> 
       </div> 


       <p class="ptm pnpost clear"> 
        <button type="submit"  name="replysubmit" id="fastpostsubmit" class="greensmallbutton right" value="replysubmit" tabindex="5"><strong>发表回复</strong>
        </button> 
      </p> 
      </div> 
     </form> 
    </div> 
   </div>



        <div class="sidebar">

            <div class="box">

                <div class="viewthread_author">

                    <div class="r_arrow"></div>

                    <div class="viewthread_author_avatar" id="favatar3693762"> 
                        <a href="<{:U('Space/dynamic',array('mid'=>$postuser['uid']))}>" target="_blank"><img src="__ROOT__<{$postuser.head}>" onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_middle.gif'" /></a> 
                    </div>

                    <div class="viewthread_author_info"> 
                        <p>
                            <a href="<{:U('Space/dynamic',array('mid'=>$postuser['uid']))}>" target="_blank" style="color: #000000">
                                <strong><{$postuser['user']}></strong>
                            </a>
                        </p> 
                        <a href="<{:U('Home/My/mygrade')}>" target="_blank"><font color="#000000"><{$grouptitle['title']}></font></a> 
                    </div>

                    <div class="viewthread_author_stat"> 
                        <ul> 
                            <li><a href="" target="_blank">2600</a><p>积分</p></li> 
                            <li><a href="" target="_blank">155</a><p>主题</p></li> 
                            <li><a href="" target="_blank">2193</a><p>回帖</p></li> 
                            <li><a href="" target="_blank">44</a><p>好友</p></li> 
                        </ul> 
                    </div> 
                    <div class="viewthread_author_act"> 
                        <a href="" id="a_sendpm_201392" class="bluesmallbutton" onclick="showWindow('showMsgBox', this.href, 'get', 0)" title="发消息">发消息</a>
                        <a href="" class="greensmallbutton" id="a_friend" onclick="showWindow(this.id, this.href, 'get', 0);">加好友</a> 
                    </div>

                </div><!--./viewthread_author-->

                <div class="viewthread_author_threads s_timeline"> 
                    <div class="s_text_list"> 
                        <ul>
                            <li>
                                <i><span></span></i>
                                <a href="" title="2016年11月17日签到帖" target="_blank">2016年11月17日签到帖</a>
                                <p>2016.11.17</p>
                            </li> 
                        </ul> 
                    </div> 
                </div><!--./viewthread_author_threads-->

            </div><!--./box-->

            <include file="Public/sidebar"/>

        </div><!--./sidebar-->

    </div>

</block>

<block name="myjs">
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh-CN.js"></script>
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>


<script type="text/javascript">

    </script>
</block>