<extend name="Index/index" />

<block name="main">
    
    <div class="breadcrumbs content"> 
        <a href="<{:U('Home/Index/index')}>" title="首页">ZUK社区</a>
        <em>&raquo;</em>
        <a href="<{:U('Home/Section/index')}>">版块</a> 
        <em>&raquo;</em> 
        <a href="<{:U('themes',array('sid'=>$cgpost['pid']))}>"><{$pcgpost['name']}></a>
        <em>&raquo;</em> 
        <a href="<{:U('content',array('aid'=>$arr['aid']))}>"><{$arr['title']}></a>
    </div>


    <div class="content" id="viewthread"> 

        <div class="main viewthread"> 

            <div class="box">

                <div class="viewthread_main firstfloor">

                    <!-- <div id="threadstamp">
                        <img src="__PUBLIC__/qwhome/picture/006.gif" title="推荐" />
                    </div>  -->

                    <div class="viewthread_title"> 

                        <div class="viewthread_con"> 
                            <h1> 
                                <a href="<{:U('themes',array('cgid'=>$cgpost['id'],'sid'=>$cgpost['pid']))}>" class="colorlink">
                                    [<{$cgpost['name']}>]
                                </a>
                                <a href="<{:U('content',array('aid'=>$arr['aid']))}>">
                                    <span id="thread_subject"><{$arr['title']}></span>
                                </a> 
                            </h1> 
                            <span> </span>

                            <div class="viewthread_top">

                                <em id="authorposton3693762"><{$arr['t']|date="Y-m-d H:i:s",###}></em>
                                <span class="cutline"></span>
                                <a title="" href="/" target="_blank" class="color3"><{$arr['keywords']}></a>
                                <div class="viewthreadtop_storey right">
                                    <span class="s_view" title="查看"></span><{$arr['n']}>
                                    <span class="pipe"></span>
                                    <span class="s_reply" title="回复"></span><{$countcritic}>
                                </div>

                            </div>

                        </div>

                    </div> 

                    <div class="viewthread_con_first ">

                        <!-- <div class="viewthread_content">
                            
                        </div> -->
                        <{$arr['content']}>

                        <div id="viewthread_foot"> 
                            <div class="viewthread_foot"> 

                                <!-- <div class="right"> 
                                    <a href="javascript:;" class="opacity"><span class="s_rate"></span>评分</a>
                                    <a href=""><span class="s_reply"></span>回复</a> 
                                </div> -->

                                <div class="bdsharebuttonbox dib">分享至：
                                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">微博<i></i></a>
                                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
                                    <a href="#" class="bds_more" data-cmd="more"></a>
                                </div> 
                                <script>
                                window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":["mshare","qzone","kaixin001","tieba","sqq"],"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                                </script>

                                <span class="cutline"></span>
                                 <a class="k_favorite z" ti="<{$arr.title}>" id="<{$arr.aid}>" href="javascript:void(0);" style="position: absolute;left: 835px;"><span><{$countcollection}></span>人收藏</a>


                            <script>
                                $(".z").on('click',function(){
                                var Oa=$(this);
                                var id=Oa.attr('id');//获取id属性
                                var ti = Oa.attr('ti');
                                var vl=Oa.find("span").text();
                                    vl=parseInt(vl)+1;
                                $.post('<{:U('zan')}>',{aid:id,title:ti},function(data){
                                  console.log(data.status);
                                    if (data.status == 1) { 
                                        alert('感谢您的支持,已收藏！');//模拟异步数据加1
                                        Oa.find("span").text(vl);//页面元素加1
                                    } else {
                                        alert('您已经收藏了,不要重复哦！');
                                    }
                                },'json'); 
                            })
                            </script>
                            </div> 
                        </div> 
                    </div> 

                </div>
                <form method="post" autocomplete="off" id="vfastpostform" action="<{:U('Home/Section/fast')}>" > 
                    <div id="viewthread_fastreply" 
                        <if condition="$user.uid eq ''">
                          style="display: none;"
                        </if>
                    > 
                        <div class="viewthread_fastreply" id="vfastposttb"> 
                            <div class="viewthread_fastreplybutton">
                                <button type="submit" name="replysubmit" id="vreplysubmit" >快速回复</button>
                            </div> 
                            <div class="viewthread_fastreplyinput">
                                <input type="text" name="message"/>
                                <input type="hidden" name="aid" value=<{$_GET['aid']}> />
                            </div> 
                        </div> 
                    </div> 
                </form> 

            </div>

    <div class="box" id="replylists"> 
     <div class="viewthread_main replylist_title"> 
      <div class="right font14">
        <a href="<{:U('content',array('aid'=>$arr['aid'],'order'=>'old'))}>" class="
          <if condition=" (I('get.order') eq '') OR  (I('get.order') eq 'old') ">bluecolor</if>
        ">楼层顺序</a>
       <span class="pipe">|</span>
        <a href="<{:U('content',array('aid'=>$arr['aid'],'order'=>'new'))}>" class="
        <if condition=" I('get.order') eq 'new' ">bluecolor</if>
        ">最新评论</a> 
      </div> 
      <strong><{$countcritic}></strong> 条回帖 
     </div> 

    <foreach name="critic" item="va">
     <div id="post_3695031" class="viewthread_main"> 
      <div class="viewthread_avatar" id="favatar3695031"> 
       <div id="remainTime" style="font-size:20px;font-weight:700;color:#FF9900;"></div> 
       <a href="<{:U('Space/dynamic',array('mid'=>$va['uid']))}>" class="author_avatar" target="_blank">
        <img src="
          <if condition=" $user.head eq '' ">
            __PUBLIC__/qwhome/picture/00_avatar_middle.jpg
          <else />
            __ROOT__<{$va.head}>
          </if>
        "/>
       </a> 
      </div> 
      <div class="viewthread_con " id="pid3695031" summary="pid3695031"> 
       <div class="viewthread_top"> 
        <a href="<{:U('Space/dynamic',array('mid'=>$va['uid']))}>" target="_blank"><strong><{$va['uname']}></strong></a>
        <span class="spipe"></span>
        <a href="" class="color3" target="_blank">初中生</a> 
        <span class="cutline"></span>
        <em id="authorposton3695031"><{$va['dateline']|date="Y-m-d H:i:s",###}></em>
        

       </div> 
       <div class="viewthread_content" author="ZUK383932" pid="3695031" formhash="c8a069ed"> 
        <div class="">
         <table cellspacing="0" cellpadding="0">
          <tbody>
           <tr>
            <td id="postmessage_3695031"><{$va['message']}></td>
           </tr>
          </tbody>
         </table>
        </div> 
        <!--回复帖回复列表--> 
        <div id="comment_3695031">
          <!-- 回复 -->
      <foreach name="newarrs[$va['cid']]" item="vb">   
          <div class="viewthread_replylog">
            <ul>
              <li title="发表于<{$va['dateline']|date="Y-m-d H:i:s",###}> ">
                <a href="<{:U('Space/dynamic',array('mid'=>$vb['uid']))}>" class="avatar" c="1">
                  <img src="
                    <if condition=" $user.head eq '' ">
                      __PUBLIC__/qwhome/picture/00_avatar_middle.jpg
                    <else />
                      __ROOT__<{$vb.head}>
                    </if>
                  ">
                </a>
                <p>
                  <a href="<{:U('Space/dynamic',array('mid'=>$vb['uid']))}>" class="author"><{$vb['uname']}>:</a>
                  <{$vb['message']}>
                </p> 
              </li>
            </ul>
          </div> 
    </foreach>

        </div> 
       </div> 
       <div id="viewthread_foot"> 
        <div class="viewthread_foot"> 
         <div class="right"> 
    
    <style>
           .GoStyle
        {
         
             background-color: #FFFFFF;
             border: 0px none;
             cursor: hand;
             font-family: "宋体";
             font-size: 15px;
        }
    </style>
         <form id="tform" action="<{:U('Home/Section/fasta')}>" method="post">
          <input type="text" name="message" style="border:2px solid #F1F1F1; width:570px;height:30px">
          <input type="hidden" name="uid" value='<{$va['uid']}>' >
          <input type="hidden" name="cid" value='<{$va['cid']}>'  >
          <input type="hidden" name="tid" value='<{$va['tid']}>'  >
          <a href=""><button type="submit" class="GoStyle"><span class="s_reply"></span>回复 </button></a>
        </form>

         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
</foreach>

    </div> 
    <div class="clear" style="margin-bottom: 15px;"> 
     <div class="right"> 
      <div class="pg">
       <{$page}>
      </div>
     </div> 
    </div> 
    
    <div id="f_pst" class="box"> 
     <form method="post"  id="fastpostform" action="<{:U('Home/Section/fast')}>" onsubmit="return fastpostvalidate(this)">

     <if condition="$user.uid eq ''">
    <div class="viewthread_pst">
        <div class="viewthread_reply">
        <span id="fastpostreturn"></span>
        <div class="cl">
        <div id="fastsmiliesdiv" class="y dn"><div id="fastsmiliesdiv_data"><div id="fastsmilies"></div></div></div><div class="hasfsl" id="fastposteditor">
        <div class="tedt mtn">

        <div class="area">
        <div class="pt hm">
        需要登陆后才可进行回复 <a href="<{:U('Home/Login/index')}>" onclick="showWindow('login', this.href)" class="bluecolor">登录</a> 
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div id="seccheck_fastpost">
        </div>
        </div>
    <else/> 
      <div class="viewthread_pst"> 
           <!-- 输入框样式效果 -->
          <script src="__PUBLIC__/emoj/jquery.js"></script>
          <script src="__PUBLIC__/emoj/myemojiPl.js"></script>
          <link rel="stylesheet" href="__PUBLIC__/emoj/myemojiPl.css">
                    <div class="Main">     
                  <div class="Input_Box">     
                    <div contenteditable="true" class="Input_text" name="message"></div>
                    <input type="hidden" name="message" id="message">
                    <input type="hidden" name="aid" value=<{$_GET['aid']}> />                      
                    <div class="Input_Foot">
                      <a class="imgBtn" href="javascript:void(0);">'◡'</a>
                      <button type="submit" class="GoStyle" style="float: right"><a class="postBtn">确定</a> </button>
                    </div>     
                  </div> 
                  <div class="faceDiv">
                    <section class="emoji_container">
                    </section>
                    <section class="emoji_tab"></section>
                  </div>    
              </div> 
      </div> 
      </if>
     </form> 
    </div> 
   </div>



        <div class="sidebar">

            <div class="box">

                <div class="viewthread_author">

                    <div class="r_arrow"></div>

                    <div class="viewthread_author_avatar" id="favatar3693762"> 
                        <a href="<{:U('Space/dynamic',array('mid'=>$postuser['uid']))}>" target="_blank"><img src="__ROOT__<{$postuser.head}>" onerror="this.onerror=null;this.src='http://uc.bbs.zuk.cn/images/noavatar_middle.gif'" /></a> 
                    </div>

                    <div class="viewthread_author_info"> 
                        <p>
                            <a href="<{:U('Space/dynamic',array('mid'=>$postuser['uid']))}>" target="_blank" style="color: #000000">
                                <strong><{$postuser['user']}></strong>
                            </a>
                        </p> 
                        <a href="<{:U('Home/My/mygrade')}>" target="_blank"><font color="#000000"><{$grouptitle['title']}></font></a> 
                    </div>

                    <div class="viewthread_author_stat"> 
                        <ul> 
                            <li>
                              <a href="<{:U('Space/information',array('mid'=>$postuser['uid']))}>" target="_blank">1111</a>
                              <p>积分</p>
                            </li> 
                            <li>
                              <a href="<{:U('Space/stheme',array('mid'=>$postuser['uid']))}>" target="_blank"><{$postuser['fatie'] }></a>
                              <p>主题</p>
                            </li> 
                            <li>
                              <a href="<{:U('Space/dynamic',array('mid'=>$postuser['uid']))}>" target="_blank"><{$postuser['huitie'] }></a>
                              <p>回帖</p>
                            </li> 
                            <li>
                              <a href="<{:U('Space/friends',array('mid'=>$postuser['uid']))}>" target="_blank"><{$postuser['haoyou'] }></a>
                              <p>好友</p>
                            </li> 
                        </ul> 
                    </div> 
                    <div class="viewthread_author_act"> 
                        <a href="" id="a_sendpm_201392" class="bluesmallbutton" onclick="showWindow('showMsgBox', this.href, 'get', 0)" title="发消息">发消息</a>
                       <a  id="Button1" type="button" value="点击弹出层" onclick="ShowDiv('MyDiv','fade')" class="greensmallbutton">
                            加为好友
                        </a> 
                    </div> 
                </div> 


                    <!-- 加好友验证 -->
                    <div id="MyDiv" class="white_content">
                   

  <table cellpadding="0" cellspacing="0" class="fwin"> 
   <tbody> 
    <tr> 
     <td class="m_c" id="fwin_content_a_friend" fwin="a_friend"> <h3 class="flb" id="fctrl_a_friend" style="cursor: move;"> <em id="return_a_friend" fwin="a_friend">加为好友</em> <span> <a href="javascript:;" onclick="CloseDiv('MyDiv','fade')" class="flbc" title="关闭">关闭</a> </span></h3> 
      <form method="post" id="addform_40728" action="<{:U('Addfriends/addfriends')}>"> 
       <div class="c"> 
        <table> 
         <tbody> 
          <tr> 
           <th valign="top" width="60" class="avt"> <a href=""> <img src="__ROOT__<{$postuser['head']}>" onerror="" /> </a> </th> 
           <td valign="top">添加 <strong><{$postuser['uname']}></strong> 为好友，附言:<br /> 
            <input type="text" name="note" value="" size="35" class="px" /> 
            <input type="hidden" name="uid" value="<{$postuser['uid']}>" />
            <input type="hidden" name="mid" value="<{$postuser['uname']}>" />
            <input type="hidden" name="type" value="adf" />
            <p class="mtn xg1">(附言为可选，<{$postuser['uname']}> 会看到这条附言)</p> </td> 
          </tr> 
         </tbody> 
        </table> 
       </div> 
       <p class="o pns"> <button type="submit" class="bluesmallbutton" fwin="a_friend"><strong>确定</strong></button> </p> 
      </form> </td> 
    </tr> 
   </tbody> 
  </table>


                    </div>
                    <!-- 加好友验证 end-->

                <div class="viewthread_author_threads s_timeline"> 
                    <div class="s_text_list"> 
                        <ul>
                        <volist name="beenposts" id="v">
                            <li>
                                <i><span></span></i>
                                <a href="
                                <{:U('Section/content',array('aid'=>$v['aid']))}>
                                " title="<{$v.title}>" target="_blank"><{$v.title}></a>
                                <p><{$v['t']|date="Y-m-d H:i:s",###}></p>
                            </li>
                        </volist>
                        </ul> 
                    </div> 
                </div><!--./viewthread_author_threads-->

            </div><!--./box-->

            <include file="Public/sidebar"/>

        </div><!--./sidebar-->

    </div>




</block>

<block name="myjs">
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>


<script>
var emojiconfig = {
    tieba: {
        name: "贴吧表情",
        path: "__PUBLIC__/emoj/img/tieba/",
        maxNum: 50,
        file: ".jpg",
        placeholder: ":{alias}:",
        alias: {
            1: "hehe",
            2: "haha",
            3: "tushe",
            4: "a",
            5: "ku",
            6: "lu",
            7: "kaixin",
            8: "han",
            9: "lei",
            10: "heixian",
            11: "bishi",
            12: "bugaoxing",
            13: "zhenbang",
            14: "qian",
            15: "yiwen",
            16: "yinxian",
            17: "tu",
            18: "yi",
            19: "weiqu",
            20: "huaxin",
            21: "hu",
            22: "xiaonian",
            23: "neng",
            24: "taikaixin",
            25: "huaji",
            26: "mianqiang",
            27: "kuanghan",
            28: "guai",
            29: "shuijiao",
            30: "jinku",
            31: "shengqi",
            32: "jinya",
            33: "pen",
            34: "aixin",
            35: "xinsui",
            36: "meigui",
            37: "liwu",
            38: "caihong",
            39: "xxyl",
            40: "taiyang",
            41: "qianbi",
            42: "dnegpao",
            43: "chabei",
            44: "dangao",
            45: "yinyue",
            46: "haha2",
            47: "shenli",
            48: "damuzhi",
            49: "ruo",
            50: "OK"
        },
        title: {
            1: "呵呵",
            2: "哈哈",
            3: "吐舌",
            4: "啊",
            5: "酷",
            6: "怒",
            7: "开心",
            8: "汗",
            9: "泪",
            10: "黑线",
            11: "鄙视",
            12: "不高兴",
            13: "真棒",
            14: "钱",
            15: "疑问",
            16: "阴脸",
            17: "吐",
            18: "咦",
            19: "委屈",
            20: "花心",
            21: "呼~",
            22: "笑脸",
            23: "冷",
            24: "太开心",
            25: "滑稽",
            26: "勉强",
            27: "狂汗",
            28: "乖",
            29: "睡觉",
            30: "惊哭",
            31: "生气",
            32: "惊讶",
            33: "喷",
            34: "爱心",
            35: "心碎",
            36: "玫瑰",
            37: "礼物",
            38: "彩虹",
            39: "星星月亮",
            40: "太阳",
            41: "钱币",
            42: "灯泡",
            43: "茶杯",
            44: "蛋糕",
            45: "音乐",
            46: "haha",
            47: "胜利",
            48: "大拇指",
            49: "弱",
            50: "OK"
        }
      },
    AcFun:{
      name : "AcFun表情",
      path : "__PUBLIC__/emoj/img/AcFun/",
      maxNum : 54,
      file : ".png"
    }
  };
$('.Main').myEmoji({emojiconfig : emojiconfig});
$('.Main3').myEmoji();
$('.Main2').myEmoji();
</script>

<style>
.black_overlay{
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}
.white_content {
display: none;
position: absolute;
    top: 4%;
    left: -366px;
    width: 394px;
    height: 228px;
border: 1px solid black;
background-color: white;
z-index:1002;
overflow: auto;
}

</style>
<script type="text/javascript">


//弹出隐藏层
function ShowDiv(show_div,bg_div){
document.getElementById(show_div).style.display='block';
document.getElementById(bg_div).style.display='block' ;
var bgdiv = document.getElementById(bg_div);
bgdiv.style.width = document.body.scrollWidth;
// bgdiv.style.height = $(document).height();
$("#"+bg_div).height($(document).height());
};
//关闭弹出层
function CloseDiv(show_div,bg_div)
{
document.getElementById(show_div).style.display='none';
document.getElementById(bg_div).style.display='none';
};
</script> 
</block>