<extend name="Index/index" />

<block name="main">
	<div class="breadcrumbs content">
		<a href="./" title="首页">联想手机社区</a>
		<em>&raquo;</em><a href="<{:U('Home/Section/index')}>">版块</a>
	</div>

	<div class="content" id="forumlist">

		<div class="oneway_text box">
			今日新帖<em>2657</em><span class="pipe">|</span>
			昨日贴数<em>11665</em><span class="pipe">|</span>
			总帖数<em>3951804</em><span class="pipe">|</span>
			会员总数<em>299250</em>
		</div>
		<div class="big_forumlist">
			<div class="mainforum box">
				<div class="mainforumicon">
					<a href="<{:U('Home/Section/theme')}>">
						<img src="__PUBLIC__/qwhome/picture/z1.png" height="90" width="150" alt="ZU1 Z1手机论坛"></a>
				</div>
				<div class="mainforumcontent">
					<h2><a href="<{:U('Home/Section/theme')}>">ZUK Z1手机</a></h2>
					<p>ZUK首款智能手机ZUK Z1用户交流区</p>
					<p class="mainforumcontentinfo">今日: <font class="bluecolor">224</font><span class="pipe">|</span>主题: 48942</p>
				</div>
			</div>
			<div class="mainforum box">
				<div class="mainforumicon">
					<a href="/z2/"><img src="__PUBLIC__/qwhome/picture/z2.png" height="90" width="150" alt="联想ZUK Z2"></a>
				</div>
				<div class="mainforumcontent">
					<h2><a href="/z2/">联想ZUK Z2</a></h2>
					<p>ZUK Z2智能手机用户交流区</p>
					<p class="mainforumcontentinfo">今日: <font class="bluecolor">508</font>
					<span class="pipe">|</span>主题: 40371</p>
				</div>
			</div>
			<div class="mainforum mainforum_big box">
				<div class="mainforumicon">
					<a href="/zui/"><img src="__PUBLIC__/qwhome/picture/zui.png" height="90" width="150" alt="ZUI论坛"></a>
				</div>
				<div class="mainforumcontent">
					<h2><a href="/zui/">ZUI社区</a></h2>
					<p>简单，最好看 — ZUI官方用户交流区</p>
					<p class="mainforumcontentinfo">今日: <font class="bluecolor">26</font><span class="pipe">|</span>主题: 13964</p>
				</div>
			</div>
		</div>
		<div class="box">
			<h3 class="modname">Moto专区</h3>
			<div class="forumlist"><div class="mainforum">
				<div class="mainforumicon">
					<a href="/motox/">
						<img src="__PUBLIC__/qwhome/picture/common_78_icon.jpg" align="left" alt="" />
					</a>
				</div>
				<div class="mainforumcontent">
					<h2><a href="/motox/">Moto X系列</a></h2>
					<p>Moto X系列手机综合板块</p>
					<p>今日：<font class="bluecolor">4</font>
						<span class="pipe">|</span>主题: 609</p>
				</div>
				</div>
				<div class="mainforum">
					<div class="mainforumicon">
						<a href="/moto360/">
							<img src="__PUBLIC__/qwhome/picture/common_79_icon.png" align="left" alt="" />
						</a>
					</div>
					<div class="mainforumcontent">
						<h2><a href="/moto360/">Moto 360</a></h2>
						<p>功能强大 倾心之选</p>
						<p>今日：<font class="bluecolor">0</font><span class="pipe">|</span>主题: 218</p>
					</div>
				</div>
				<div class="mainforum">
					<div class="mainforumicon">
						<a href="/motoz/">
							<img src="__PUBLIC__/qwhome/picture/common_88_icon.jpg" align="left" alt="" />
						</a>
					</div>
					<div class="mainforumcontent">
						<h2><a href="/motoz/">Moto Z系列</a></h2>
						<p>Moto Z 定义模块化手机</p>
						<p>今日：<font class="bluecolor">40</font>
							<span class="pipe">|</span>主题: 1111</p>
					</div>
				</div>
			</div>
		</div>
		<div class="box">
			<h3 class="modname">粉丝广场</h3>
			<div class="forumlist">
				<div class="mainforum">
					<div class="mainforumicon">
						<a href="/chat/">
							<img src="__PUBLIC__/qwhome/picture/common_45_icon.png" align="left" alt="" />
						</a>
					</div>
					<div class="mainforumcontent">
						<h2><a href="/chat/">联想畅谈</a></h2>
						<p>在这里谈天说地，广交好友</p>
						<p>今日：<font class="bluecolor">1548</font>
							<span class="pipe">|</span>主题: <span title="188986">18万</span>
						</p>
					</div>
				</div>
				<div class="mainforum">
					<div class="mainforumicon">
						<a href="/zhuti/">
							<img src="__PUBLIC__/qwhome/picture/common_86_icon.png" align="left" alt="" />
						</a>
					</div>
					<div class="mainforumcontent">
						<h2><a href="/zhuti/">主题苑</a></h2>
						<p>联想手机主题的美,我们要从里到外</p>
						<p>今日：<font class="bluecolor">82</font><span class="pipe">|</span>主题: 1019</p>
					</div>
				</div>
				<div class="mainforum">
					<div class="mainforumicon">
						<a href="/camera/">
							<img src="__PUBLIC__/qwhome/picture/common_39_icon.png" align="left" alt="" />
						</a>
					</div>
					<div class="mainforumcontent">
						<h2><a href="/camera/">趣摄阁</a></h2>
						<p>趣摄他人不曾见过的风景。</p>
						<p>今日：<font class="bluecolor">190</font>
							<span class="pipe">|</span>主题: <span title="10584">1万</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="box">
			<h3 class="modname">站务大厅</h3>
			<div class="forumlist">
				<div class="mainforum">
					<div class="mainforumicon">
						<a href="/gonggao/">
							<img src="__PUBLIC__/qwhome/picture/common_42_icon.png" align="left" alt="" />
						</a>
					</div>
					<div class="mainforumcontent">
						<h2><a href="/gonggao/">申请公告</a></h2>
						<p>用户组|精华帖|勋章申请</p>
						<p>今日：<font class="bluecolor">0</font><span class="pipe">|</span>主题: 36</p>
					</div>
				</div>
				<div class="mainforum">
					<div class="mainforumicon">
						<a href="/huodong/">
							<img src="__PUBLIC__/qwhome/picture/common_41_icon.png" align="left" alt="" />
						</a>
					</div>
					<div class="mainforumcontent">
						<h2><a href="/huodong/">活动中心</a></h2>
						<p>社区最新最快活动信息</p>
						<p>今日：<font class="bluecolor">19</font><span class="pipe">|</span>主题: 591</p>
					</div>
				</div>
				<div class="mainforum">
					<div class="mainforumicon">
						<a href="/zhanwu/">
							<img src="__PUBLIC__/qwhome/picture/common_43_icon.png" align="left" alt="" />
						</a>
					</div>
					<div class="mainforumcontent">
						<h2><a href="/zhanwu/">建议申诉</a></h2>
						<p>主要负责解封、投诉等事务</p>
						<p>今日：<font class="bluecolor">11</font><span class="pipe">|</span>主题: 779</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</block>

<block name="myjs">

</block>