<extend name="Index/index" />

<block name="main">


  <div class="breadcrumbs content"> 
   <a href="./" title="首页">联想手机社区</a>
   <em>&raquo;</em>
   <a href="/forum.php">版块</a> 
   <em>&raquo;</em> 
   <a href="/motom/">Moto M</a>
  </div> 
  <div class="content forumdisplay"> 
   <div class="box"> 
    <div class="forum_top_icon">
     <img src="__PUBLIC__/qwhome/picture/common_92_banner.png" alt="Moto M" height="140" width="140" />
    </div> 
    <div class="forum_top_name"> 
     <h2><a href="">Moto M</a></h2> 
     <p><a href="" rel="nofollow" target="_blank">全金属机身 &middot; 杜比全景声 &middot; 智能指纹识别</a></p> 
    </div> 
    <div class="forum_top_info"> 
     <div class="right">
       版主: 
      <a href="" class="notabs" c="1">静爱与静界</a>
     </div>今日: 5
     <span class="pipe">|</span>主题: 51
    </div> 
   </div> 
   <div class="main"> 
    <div class="box main_box">
     <!-- 小图推荐 --> 
     <h3 class="modname">推荐阅读</h3> 
     <div class="recommend_pic_small"> 
      <ul>
       <li><a href="" target="_blank" title="【主题合集】大鱼海棠or阴阳师"><img src="__PUBLIC__/qwhome/picture/165444vooka61av7tc6z7r.jpg" alt="【主题合集】大鱼海棠or阴阳师" height="100" width="228" /></a></li> 
       <li><a href="" target="_blank" title="用户组招募集结令"><img src="__PUBLIC__/qwhome/picture/101836cwn69i6rnwvwxn69.jpg" alt="用户组招募集结令" height="100" width="228" /></a></li> 
       <li><a href="" target="_blank" title="考工记"><img src="__PUBLIC__/qwhome/picture/150059nbjh7jzaygasasw4.jpg" alt="考工记" height="100" width="228" /></a></li> 
      </ul> 
     </div> 


     <div class="graybg graytopborder"> 
      <div class="tab"> 
       <ul> 
        <li class="a"><a href="">全部<span></span></a></li> 
        <li><a href="">活动公告<span></span></a></li> 
        <li><a href="">讨论建议<span></span></a></li> 
        <li><a href="">问题反馈<span></span></a></li> 
        <li><a href="">moto m刷机<span></span></a></li> 
        <li><a href="">moto m教程<span></span></a></li> 
        <li><a href="">moto m评测<span></span></a></li> 
        <li><a href="">moto m资源<span></span></a></li> 
       </ul> 
      </div> 
     </div> 
     <div class="oneway_text graybottomborder"> 

      <ul> 
       <li><a href=""><i class="newthead"></i>最新</a></li> 
       <li><a href=""><i class="lastthead"></i>最后回复</a></li> 
       <li><a href=""><i class="hotthead"></i>热门</a></li> 
       <li><a href=""><i class="verythead"></i>精华</a></li> 
      </ul> 
     </div> 
     <div class="thread minh" id="threadlist" summary="forum_92"> 
      <form method="post" autocomplete="off" name="moderate" id="moderate" action=""> 
      
       <div class="threadlist" id="stickthread_328236"> 
        <div class="threadlist_stat">
         <a href="" title="93 个回帖">93</a>
        </div> 
        <div class="threadlist_title"> 
         <div class="right"> 
         </div> 
         <em>[<a href="">活动公告</a>]</em> 
         <a href="<{:U('Home/Section/content')}>" style="font-weight: bold;color: #EE1B2E;" onclick="atarget(this)">【Moto M】天声丽音，最强神文案征集大赛</a> 
         <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" /> 
         <span class="redsmallbox" title="全局置顶">置顶</span> 
        </div> 
        <div class="threadlist_info"> 
         <div class="lastreply">
          <a href="">仙女 @ <span title="2016-11-16 10:27">11&nbsp;分钟前</span></a>
         </div> 
         <a href="" c="1" style="color: #FF0000;">仙女</a>
         <span class="authphone ap_icon" hwtxts="ZUK Z2121"><a href=""><img src="__PUBLIC__/qwhome/picture/authphone_p.png" /></a></span> @ 
         <span title="2016-11-10">6&nbsp;天前</span> 
        </div> 
       </div> 
       <div class="threadlist" id="stickthread_272964"> 
        <div class="threadlist_stat threadlist_stat_hot">
         <a href="" title="295 个回帖">295</a>
        </div> 
        <div class="threadlist_title"> 
         <div class="right"> 
         </div> 
         <a href="" style="font-weight: bold;color: #EE1B2E;" onclick="atarget(this)">联想手机双11，晒单壕礼送不停</a> 
         <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" /> 
         <span class="redsmallbox" title="全局置顶">置顶</span> 
         <span class="greensmallbox" title="爆料">爆料</span> 
         <img src="__PUBLIC__/qwhome/picture/hot_3.gif" align="absmiddle" alt="heatlevel" title="热度: 204" /> 
        </div> 
        <div class="threadlist_info"> 
         <div class="lastreply">
          <a href="">大庆油田 @ <span title="2016-11-15 22:29">昨天&nbsp;22:29</span></a>
         </div> 
         <a href="" c="1" style="color: #FF0000;">白骨</a>
         <span class="authphone ap_icon" hwtxts="ZUK Z2121"><a href="/myzuk/"><img src="__PUBLIC__/qwhome/picture/authphone_p.png" /></a></span> @ 2016-10-20 
        </div> 
       </div> 
       <div class="threadlist" id="stickthread_198126"> 
        <div class="threadlist_stat">
         <a href="" title="52 个回帖">52</a>
        </div> 
        <div class="threadlist_title"> 
         <div class="right"> 
         </div> 
         <a href="" style="font-weight: bold;color: #EC1282;" onclick="atarget(this)">联想Moto Z任性故事创意内容征集</a> 
         <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" /> 
         <span class="redsmallbox" title="分类置顶">置顶</span> 
        </div> 
        <div class="threadlist_info"> 
         <div class="lastreply">
          <a href="">ZUK821093 @ <span title="2016-11-10 22:55">6&nbsp;天前</span></a>
         </div> 
         <a href="" c="1" style="color: #FF0000;">SummerHaze</a>
         <span class="authphone ap_icon" hwtxts="ZUK Z2121"><a href=""><img src="__PUBLIC__/qwhome/picture/authphone_p.png" /></a></span> @ 2016-9-26 
        </div> 
       </div> 
       <div class="threadlist" id="stickthread_333522"> 
        <div class="threadlist_stat">
         <a href="" title="6 个回帖">6</a>
        </div> 
        <div class="threadlist_title"> 
         <div class="right"> 
         </div> 
         <em>[<a href="">活动公告</a>]</em> 
         <a href="" style="font-weight: bold;color: #8F2A90;" onclick="atarget(this)">Moto m-科普★教程☆评测★固件☆游戏★FAQ</a> 
         <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" /> 
         <span class="redsmallbox" title="本版置顶">置顶</span> 
        </div> 
        <div class="threadlist_info"> 
         <div class="lastreply">
          <a href="">静爱与静界 @ <span title="2016-11-15 20:55">昨天&nbsp;20:55</span></a>
         </div> 
         <a href="" c="1" style="color: #000000;">静爱与静界</a> @ 
         <span title="2016-11-12">4&nbsp;天前</span> 
        </div> 
       </div> 
       <div id="separatorline">
        帖子列表
       </div> 
       <div class="threadlist" id="normalthread_323151"> 
        <div class="threadlist_stat">
         <a href="" title="23 个回帖">23</a>
        </div> 
        <div class="threadlist_title"> 
         <div class="right"> 
         </div> 
         <em>[<a href="">活动公告</a>]</em> 
         <a href="" onclick="atarget(this)">天声 锋芒 | Moto M新品耀眼上市</a> 
         <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" /> 
        </div> 
        <div class="threadlist_imglist">
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/201804cm1rrfrakd8c164w.jpg_h80.jpg" /></a>
         </div> 
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/201848hmfmx6kdxof06fbd.jpg_h80.jpg" /></a>
         </div> 
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/201857bg336ff4tqmz4lm1.jpg_h80.jpg" /></a>
         </div> 
        </div> 
        <div class="threadlist_info"> 
         <div class="lastreply">
          <a href="">itlewan @ <span title="2016-11-15 22:45">昨天&nbsp;22:45</span></a>
         </div> 
         <a href="" c="1" style="color: #000000;">乐粉-诺言</a>
         <span class="authphone ap_icon" hwtxts="ZUK Z1 / ZUK Z2121"><a href="/myzuk/"><img src="__PUBLIC__/qwhome/picture/authphone_p.png" /></a></span> @ 2016-11-8 
        </div> 
       </div> 
       <div class="threadlist" id="normalthread_330259"> 
        <div class="threadlist_stat">
         <a href="" title="12 个回帖">12</a>
        </div> 
        <div class="threadlist_title"> 
         <div class="right"> 
         </div> 
         <em>[<a href="">讨论建议</a>]</em> 
         <a href="" onclick="atarget(this)">就是那么霸气 Moto m 银色亮相</a> 
         <img src="__PUBLIC__/qwhome/picture/image_s.gif" alt="attach_img" title="图片附件" align="absmiddle" /> 
        </div> 
        <div class="threadlist_imglist">
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/114232epvqipzknkmupqvk.jpg_h80.jpg" /></a>
         </div> 
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/114237v84dpyp9vpd665qq.jpg_h80.jpg" /></a>
         </div> 
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/114249y9094rjooc4oz6a4.jpg_h80.jpg" /></a>
         </div> 
        </div> 
        <div class="threadlist_info"> 
         <div class="lastreply">
          <a href="">静爱与静界 @ <span title="2016-11-15 20:59">昨天&nbsp;20:59</span></a>
         </div> 
         <a href="/space.php?uid=1429" c="1" style="color: #000000;">静爱与静界</a> @ 
         <span title="2016-11-11">5&nbsp;天前</span> 
        </div> 
       </div> 
       <div class="threadlist" id="normalthread_325925"> 
        <div class="threadlist_stat">
         <a href="/motom/t325925/" title="34 个回帖">34</a>
        </div> 
        <div class="threadlist_title"> 
         <div class="right"> 
         </div> 
         <em>[<a href="">moto m评测</a>]</em> 
         <a href="" onclick="atarget(this)">Moto M 天声 锋芒</a> 
         <img src="" alt="attach_img" title="图片附件" align="absmiddle" /> 
        </div> 
        <div class="threadlist_imglist">
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/215236nb19bbulb4jjzh41.jpg_h80.jpg" /></a>
         </div> 
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/215247q8a6qa8taqo7qz6t.jpg_h80.jpg" /></a>
         </div> 
         <div>
          <a href=""><img src="__PUBLIC__/qwhome/picture/215837tpdk5dez52nnk2ks.png_h80.jpg" /></a>
         </div> 
        </div> 
        <div class="threadlist_info"> 
         <div class="lastreply">
          <a href="">静爱与静界 @ <span title="2016-11-15 20:59">昨天&nbsp;20:59</span></a>
         </div> 
         <a href="" c="1" style="color: #000000;">静爱与静界</a> @ 
         <span title="2016-11-9">7&nbsp;天前</span> 
        </div> 
       </div> 
 
      </form> 
     </div> 
     <div class="nextpage">
      <a href="javasctipt:;">下一页</a>
     </div> 
    </div> 
    <div class="pg">
     <strong>1</strong>
     <a href="/motom/2/">2</a>
     <label><input type="text" name="custompage" class="px" size="2" title="输入页码，按回车快速跳转" value="1" onkeydown="if(event.keyCode==13) {window.location='/motom/'+this.value;; doane(event);}" /><span title="共 2 页"> / 2 页</span></label>
     <a href="/motom/2/" class="nxt">下一页</a>
    </div>
   </div>
   <div class="sidebar"> 
    <div class="box p20"> 
     <a href="<{:U('Home/Section/article')}>" class="bluebigbutton" title="发新帖">发新帖</a> 
    </div> 
    <div class="box"> 
     <h3 class="modname"><span class="more">第16期 - 2016年10月18日更新</span>全民话题</h3> 
     <div class="s_topic" style="background:url(__PUBLIC__/qwhome/images/105252bw0woohoy2377r1g.jpg); "> 
      <a href="chat/t304460/" class="s_topic_content"> 手机带来的便利<span class="bluesmallblankbutton">参与讨论</span> </a> 
     </div>
    </div> 
    <div class="box s_forumlist"> 
     <h3 class="modname">快速入口</h3> 
     <div class="s_links"> 
      <ul class="s_grid_line"> 
       <li>
        <a href="/z2/"><i>
          <img src="__PUBLIC__/qwhome/picture/s_z2.png" width="24" height="24" /></i>
          <small class="a_arrow"></small><em>重新定义新旗舰</em><span>联想ZUK Z2</span>
        </a>
       </li> 
       <li>
        <a href="z1/">
          <i>
          <img src="__PUBLIC__/qwhome/picture/s_z1.png" width="24" height="24" /></i>
          <small class="a_arrow"></small><em>ZUK Z1官方讨论区 </em><span>ZUK Z1</span>
        </a>
       </li> 
       <li>
        <a href="zui/">
          <i><img src="__PUBLIC__/qwhome/picture/s_zui.png" width="24" height="24" /></i>
          <small class="a_arrow"></small><em>ZUI官方讨论区 </em><span>ZUI社区</span>
        </a>
       </li> 
       <li>
        <a href="motoz/">
          <i><img src="__PUBLIC__/qwhome/picture/s_motoz.png" width="24" height="24" /></i>
          <small class="a_arrow"></small><em>Moto Z 定义模块化手机</em><span>Moto Z</span>
        </a>
       </li> 
       <li>
        <a href="/xstyle/"><i><img src="__PUBLIC__/qwhome/picture/s_motox.png" width="24" height="24" /></i>
          <small class="a_arrow"></small><em>Moto X系列手机综合板块</em><span>Moto X</span>
        </a>
       </li> 
       <li>
        <a href="moto360/"><i><img src="__PUBLIC__/qwhome/picture/s_moto360.png" width="24" height="24" /></i>
          <small class="a_arrow"></small><em>功能强大 倾心之选</em><span>Moto360</span>
        </a>
       </li> 
      </ul> 
     </div> 
     <div class="grid_stat"> 
      <div class="grid_list"> 
       <ul> 
        <li><a href="chat/"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_chat.png" width="30" height="30" /></span>联想畅谈</a></li> 
        <li><a href="camera/"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_camera.png" width="30" height="30" /></span>趣摄阁</a></li> 
        <li><a href="zhuti/"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_style.png" width="30" height="30" /></span>主题苑</a></li> 
        <li><a href="huodong/"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_activity.png" width="30" height="30" /></span>活动中心</a></li> 
        <li><a href="zhanwu/"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_feedback.png" width="30" height="30" /></span>建议申诉</a></li> 
        <li><a href="gonggao/"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_announcement.png" width="30" height="30" /></span>申请公告</a></li> 
       </ul> 
      </div> 
     </div>
    </div> 
    <div class="box s_forumlist"> 
     <h3 class="modname">热门标签</h3> 
     <div class="s_links"> 
      <ul> 
       <li><a href=""><small class="a_arrow"></small><em>美图赏析</em><span>Moto Z Play下的秋雨霏霏</span></a></li> 
       <li><a href=""><small class="a_arrow"></small><em>摄影教程</em><span>教你给照片加上哈苏水印</span></a></li> 
       <li><a href=""><small class="a_arrow"></small><em>刷机rom</em><span> 2.3.044双行网速|时间居中</span></a></li> 
       <li><a href=""><small class="a_arrow"></small><em>给你精彩</em><span>主题苑优秀合集七</span></a></li> 
       <li><a href=""><small class="a_arrow"></small><em>福利放送</em><span>指纹按键功能教程</span></a></li> 
      </ul> 
     </div>
    </div> 
    <div class="box s_timeline"> 
     <h3 class="modname">推荐阅读</h3> 
     <div class="s_text_list"> 
      <div class="nano"> 
       <ul class="nano-content">
        <li><i><span></span></i><a href="" target="_blank">【Moto Z】当Moto Z遇上时尚大师</a><p>2016.11.15</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【趣摄正使】广利港风光</a><p>2016.11.15</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【趣摄美图】感受到生命的树影</a><p>2016.11.15</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【主题匠师】怡人花朵壁纸下载</a><p>2016.11.15</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【精美主题】优质手绘主题</a><p>2016.11.15</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【Moto Z评测】哈苏镜头下的超级月亮</a><p>2016.11.15</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【玩机教程】如何让你的ZUK锁屏离</a><p>2016.11.15</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【摄影技巧】ZUK Z2开启HDR拍照对比</a><p>2016.11.14</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【趣摄美图】秋日美景掠影</a><p>2016.11.14</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【趣摄风景】你所不知道的西北美景</a><p>2016.11.14</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【精美主题】最热阴阳师壁纸下载</a><p>2016.11.14</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【主题精选】黑色省电个性锁屏合集</a><p>2016.11.14</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【趣摄游记】泰国商场里的中国艺术</a><p>2016.11.11</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【趣摄美图】诱人美食来袭</a><p>2016.11.11</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【Moto M】新品最强文案征集大赛</a><p>2016.11.11</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【Moto M评测】天声 锋芒</a><p>2016.11.11</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【主题】精彩插画锁屏</a><p>2016.11.11</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【主题匠师】欢乐圣诞一起换锁屏</a><p>2016.11.11</p></li> 
        <li><i><span></span></i><a href="" target="_blank">【趣摄美图】清透蓝天</a><p>2016.11.10</p></li> 
       </ul> 
      </div> 
     </div>
    </div> 
    <div class="box _helplide"> 
     <div class="s_tab_title"> 
      <ul class="_helplidetit"> 
       <li class="current">售后服务</li> 
       <li>关注我们</li> 
       <li>社区新手</li> 
      </ul> 
     </div> 
     <div class="_helplidelist"> 
      <div> 
       <div class="grid_list"> 
        <ul> 
         <li><a href="" target="_blank"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_customer.png" width="30" height="30" /></span>在线咨询</a></li> 
         <li><a href="" target="_blank"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_map.png" width="30" height="30" /></span>售后网点</a></li> 
         <li><a href="" target="_blank"><span class="grid_list_img"><img src="__PUBLIC__/qwhome/picture/s_service.png" width="30" height="30" /></span>服务中心</a></li> 
        </ul> 
       </div> 
       <div class="customer_service"> 
        <h4 class="fullfont color">400-8828-228</h4> 
        <p class="font12 color3">电话服务热线时间：9:00 - 21:00</p> 
       </div> 
      </div> 
      <div class="snswidget" style="display: none;"> 
       <div class="sns_widget">
        <a href="" title="ZUK官方微博" target="_blank"><img src="__PUBLIC__/qwhome/picture/wb_sidebar.jpg" height="120" width="120" /></a>
        <p><a href="" target="_blank" title="ZUK官方微博">官方微博</a></p>
       </div>
       <div class="sns_widget">
        <img src="__PUBLIC__/qwhome/picture/wx_sidebar.jpg" height="120" width="120" title="扫一扫关注微信" />
        <p>ZUK微信</p>
       </div> 
      </div> 
      <div class="forum_newbie" style="display: none;"> 
       <a href="" target="_blank"><span class="a_arrow"></span>发帖与回复</a>
       <a href="" target="_blank"><span class="a_arrow"></span>社区总版规</a>
       <a href="" target="_blank"><span class="a_arrow"></span>赚金币</a>
       <a href="" target="_blank"><span class="a_arrow"></span>任务体系</a>
       <a href="" target="_blank"><span class="a_arrow"></span>荣誉勋章</a>
       <a href="" target="_blank"><span class="a_arrow"></span>ZUK产品认证</a> 
      </div> 
     </div>
    </div> 
   </div> 
  </div> 



</block>

<block name="myjs">

</block>