

<block name="mycss">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qwhome/css/pinfo.css">
</block>

<block name="main">


<div class="breadcrumbs content"> 
   <a href="<{:U('Home/Index/index')}>">ZUK社区</a>
   <em>»</em>共搜到　<{$count}>　条记录
</div>

<div class="content" id="space_info">

    <div class="box">

        <div class="p_header"></div>

        <div class="p_threadlist"> 
            <ul>
            <volist name="list" id="val">
                <li> 
                 <em><span><{$val['t']|date="Y-m-d H:i:s",###}></span></em>
                 <a href="
                    <{:U('Space/dynamic',array('mid'=>$val['mid']))}>
                 " target="_blank">
                    <{$val['user']}>
                </a>-
                 <span class="color1"><{$val.name}></span>　
                 <a href="
                    <{:U('Section/content',array('aid'=>$val['aid']))}>
                 " target="_blank">
                    <{$val['title']}>
                </a>
                <div class="right"> 
                    回复 <{$val['total']}> 次 <span class="pipe">,</span>浏览 <{$val['n']}> 次 
                </div>  
                </li> 
            </volist>
           </ul> 
        </div>

    </div>

    <div class="pg"><{$page}></div>

</div><!--#/space_info-->

</block>